<!doctype html>
<html lang="en">

    <head>

        <!-- Global site tag (gtag.js) - Google Analytics -->
        <script async src="https://www.googletagmanager.com/gtag/js?id=UA-177868482-1"></script>
        <script>
          window.dataLayer = window.dataLayer || [];
          function gtag(){dataLayer.push(arguments);}
          gtag('js', new Date());

          gtag('config', 'UA-177868482-1');
        </script>

        {% load static %}
        <link rel="stylesheet" type="text/css" href="{% static 'masks/css/mascara.css' %}">
        <link rel="shortcut icon" href="{% static 'masks/images/iconewindow.png' %}" />

        <!-- Depois tem que colocar isso nos seus htmls certos.-->
        <script>
            var usuarios2 = '{{ usuarios2|escapejs }}';
            var alterados = '{{ alterados|escapejs }}';
            var nomesAmigaveis = '{{ variaveis|escapejs }}';
            var mascarasJson = '{{ mascarasJson|escapejs }}';
            var normais = '{{ normais|escapejs }}';
            var conclusaoMascaraAtual = '{{ mascara.conclusao }}';
            var nomesAmigaveisUsuario = '{{ variaveisusuario|escapejs }}';
            var mascara_topicos = '{{ mascara_topicos|escapejs }}';





        </script>

        <!-- Required meta tags for bootstrap-->
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
        <!-- Bootstrap CSS -->
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css" integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk" crossorigin="anonymous">

        {% block css %}

        {% endblock css %}


        <title>{{ titulo }}</title>
    </head>
    <body>



    <nav class="navbar navbar-expand-sm">
        {% if user.is_authenticated %}
        <a href="{% url 'mostrar_mascaras' %}" class="navbar-left"><img id="logo_navbar" src="{% static 'masks/images/icone.png' %}"></a>
        {% else %}
        <a href="/" class="navbar-left"><img id="logo_navbar" src="{% static 'masks/images/icone.png' %}"></a>

        {% endif %}
        <div class="container">
            <button id="botao_expansor" class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
                aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarSupportedContent">
                {% if user.is_authenticated %}
                <ul class="navbar-nav mr-auto" id="barra_navegacao">

                    <li class="nav-item active">
                        <a id="mascaras" class="nav-link" href="{% url 'mostrar_mascaras' %}">Máscaras<span class="sr-only">(current)</span></a>
                    </li>
                     <li class="nav-item">
                        <a id="editar" class="nav-link" href="{% url 'configuracoes' %}">Configurações</a>
                    </li>
                    <li class="nav-item">
                        <a id="comunidade" class="nav-link" href="{% url 'comunidade' %}">Comunidade</a>
                    </li>

                     <li class="nav-item">
                        <a id="ajuda" class="nav-link" href="{% url 'sobre' %}">Ajuda</a>
                    </li>

                </ul>

                <form id="form_username">
                    <span style="color: #c96100;" id="username">{{ user.username }}</span>
                    <a id="loginlogout" style="font-size: 1.3rem;" href="{% url 'logout_usuario' %}">Logout</a>

                </form>

                {% else %}
                    <ul class="navbar-nav mr-auto" id="barra_navegacao">

                    <li class="nav-item active">
                        <a style="display: none" id="mascaras" class="nav-link" href="{% url 'mostrar_mascaras' %}">Máscaras<span class="sr-only">(current)</span></a>
                    </li>
                     <li class="nav-item">
                        <a style="display: none" id="editar" class="nav-link" href="{% url 'configuracoes' %}">Configurações</a>
                    </li>
                    <li class="nav-item">
                        <a id="comunidade" class="nav-link" href="/">Home</a>
                    </li>

                     <li class="nav-item">
                        <a id="ajuda" class="nav-link" href="{% url 'sobre' %}">Sobre</a>
                    </li>

                </ul>

                <form id="form_username" style="padding: 10px; text-align: right;">
                    <span style="color: #c96100;" id="username">{{ user.username }}</span>
                    <a id="loginlogout" style="font-size: 1.3rem; " href="{% url 'mostrar_index' %}">Login</a>


                </form>
                {% endif %}
            </div>
        </div>
    </nav>
    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/js/bootstrap.min.js" integrity="sha384-OgVRvuATP1z7JjHLkuOU7Xw704+h835Lr+6QL9UvYjZE3Ipu6Tp75j7Bh/kR0JKI" crossorigin="anonymous"></script>

    <script type="text/javascript" src="{% static 'masks/js/mascara.js' %}"></script>


    {% block conteudo %}



    {% endblock conteudo %}

    <footer id="myfooter">Copyright © 2021 Masqs</footer>


    </body>




</html>