<!doctype html>
<html lang="en">
    <head>
        {% load static %}
        <!-- Required meta tags for bootstrap-->
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

        <!-- Bootstrap CSS -->
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css" integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk" crossorigin="anonymous">

        <title>Hello, world!</title>
    </head>
    <body>


    <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
        <div class="container">
            <a class="navbar-brand" href="#">Navbar</a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
                aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarSupportedContent">
                <ul class="navbar-nav mr-auto">
                    <li class="nav-item active">
                        <a class="nav-link" href="#">Home <span class="sr-only">(current)</span></a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#">Link</a>
                    </li>
                </ul>
                <form class="form-inline my-2 my-lg-0">
                    <input class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search">
                    <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
                </form>
            </div>
        </div>
    </nav>


<h1> {{ mascara.titulo }} </h1>
<h2> {{ mascara.tecnica_header }} </h2>
<p> {{mascara.tecnica }} </p>
<h2> {{ mascara.relatorio_header }} </h2>

{% for topico in topicos_normais %}
    <p id="{{ topico.pk}}"> {{ topico.relatorio }} + {{ topico.pk }} </p>
{% endfor %}


<h2> {{ mascara.conclusao_header }} </h2>
<p> {{ mascara.conclusao }} </p>

    <!--Seta ids únicos para os botões poderem ser reconhecidos e possibiliar abrir Modals com htmls diferentes.
    Os htmls ficam nas pastas masks/diagnósticos.
    A variável name settada aqui corresponde ao tópico normal que vai ser alterado, para identificação
    pelo botão de salvar alterações-->
    <h4>Diagnósticos:</h4>
    {% for topicoanormal in topicos_anormais %}
        {% if topicoanormal.topico_normal.mascara == mascara %}
            <button name="{{ topicoanormal.topico_normal.pk }}" type="button" class="btn btn-primary" data-toggle="modal" data-target="#myModal" id={{ topicoanormal.pk }}>{{ topicoanormal.nome }}</button>
        {% endif %}
    {% endfor %}



    <!-- Modal -->
    <div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLongTitle" aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
              <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLongTitle">Modal title</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                  <span aria-hidden="true">&times;</span>
                </button>
              </div>
              <div class="modal-body">
                  <div id="template_name"></div>

              </div>
              <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                <button id = "save_changes" type="button" class="btn btn-primary" onclick="alterar()">Save changes</button>
              </div>
            </div>
        </div>
    </div>

<script>
    function alterar() {
        var topicoNormalParaAlterar = document.getElementById("save_changes").getAttribute("name");

        document.getElementById(topicoNormalParaAlterar).innerHTML = document.getElementById("relatorio").innerHTML;

    }


</script>

    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/js/bootstrap.min.js" integrity="sha384-OgVRvuATP1z7JjHLkuOU7Xw704+h835Lr+6QL9UvYjZE3Ipu6Tp75j7Bh/kR0JKI" crossorigin="anonymous"></script>


    <!-- Script para mapear os botões/diagnósticos e abrir o template para preencher o modal adequadamente. Os templates
    deverão ficar na pasta diagnósticos e um template_name deve existir para cada TopicoAlterado.-->
    <!-- setAttribute name coloca o id do topico normal a ser alterado no name do botal savechanges,
     para poder alterar o tópico correto depois.-->
    <script>
        $('#myModal').on('show.bs.modal', function (e) {
              var button = e.relatedTarget;
              document.getElementById("template_name").setAttribute("w3-include-html", "../../diagnosticos/" + button.id);
              document.getElementById("save_changes").setAttribute("name", button.name);

              includeHTML();
        })
    </script>


    <!-- Script para inserir um HTML dentro de outro HTML-->
    <script>
        function includeHTML() {
          var z, i, elmnt, file, xhttp;
          /* Loop through a collection of all HTML elements: */
          z = document.getElementsByTagName("*");
          for (i = 0; i < z.length; i++) {
            elmnt = z[i];
            /*search for elements with a certain atrribute:*/
            file = elmnt.getAttribute("w3-include-html");
            if (file) {
              /* Make an HTTP request using the attribute value as the file name: */
              xhttp = new XMLHttpRequest();
              xhttp.onreadystatechange = function() {
                if (this.readyState == 4) {
                  if (this.status == 200) {elmnt.innerHTML = this.responseText;}
                  if (this.status == 404) {elmnt.innerHTML = "Page not found.";}
                  /* Remove the attribute, and call this function once more: */
                  elmnt.removeAttribute("w3-include-html");
                  includeHTML();
                }
              }
              xhttp.open("GET", file, true);
              xhttp.send();
              /* Exit the function: */
              return;
            }
          }
        }
    </script>

    </body>

</html>