{% extends "masks/base.html" %}

   {% block css %}

    {% load static %}

    <link rel="stylesheet" type="text/css" href="{% static 'masks/css/mascara.css' %}">
    <script type="text/javascript" src="{% static 'masks/tinymce/js/tinymce/tinymce.min.js' %}"></script>
        <link rel="stylesheet" type="text/css" href="{% static 'masks/css/comunidade.css' %}">

    <script type="text/javascript" src="{% static 'masks/js/comunidade.js' %}"></script>

  <script>
        var alterados = '{{ alterados|escapejs }}';
        var alteradosPopulares = '{{ alteradosPopulares|escapejs }}';
        var alteradosUsuario = '{{ alteradosUsuario|escapejs }}';
        var mascarasJson = '{{ mascarasJson|escapejs }}';
        var mascarasJsonPopulares = '{{ mascarasJsonPopulares|escapejs }}';
        var mascarasJsonUsuario = '{{ mascarasJsonUsuario|escapejs }}';
            var usuarios2 = '{{ usuarios2|escapejs }}';

            var normais = '{{ normais|escapejs }}';
            var profiles = '{{ profiles|escapejs }}';

            var mascarasRecentes = '{{ mascarasMaisRecentes|escapejs }}';

            var alteradosRecentes = '{{ alteradosMaisRecentes|escapejs }}';
                    var mascarasJsonTotal = '{{ mascarasJsonTotal|escapejs }}';
                            var alteradosTotal = '{{ alteradosTotal|escapejs }}';
                            var usuarioLogado = '{{ usuarioLogado }}';
                                        var variaveis = '{{ variaveis|escapejs }}';






    </script>

    {% endblock css %}

{% block conteudo %}
<script>

        if(document.getElementById(window.location.href.substring(window.location.href.lastIndexOf('/') + 1)) != null) {
            document.getElementById(window.location.href.substring(window.location.href.lastIndexOf('/') + 1)).style.color = "#c96100";

    } else {
        document.getElementById("comunidade").style.color = "#c96100";
    }


</script>


<div class="container-fluid" style="margin-top: 10px; padding-bottom; 2rem;" id="container">


<div class="row">

<div class="col-4">
    <div style="text-align: center; padding-top: 0; position: sticky; position: -webkit-sticky; top: 0;">
<div>

        <div style="text-align: left">
<fieldset class="fieldset_nova_mascara">
    <legend class="legend_nova_mascara label_laranja" style="margin-bottom: 0; padding-bottom: 0;">Filtros</legend>
    <div class="radio-item2"><input type="radio" id="frasesRadio" name="submodo" value="popular" checked onclick="clicouBotaoRadio()">
        <label for="frasesRadio">Frases</label></div>
    <div class="radio-item2"><input type="radio" id="mascarasRadio" name="submodo" value=mascarasRecentes onclick="clicouBotaoRadio()">
        <label for="mascarasRadio">Máscaras</label></div>

    <hr>
                      <div class="radio-item"><input type="radio" id="tudoRadio" value="frases" name="modo" checked onclick="clicouBotaoRadio()">
        <label for="tudoRadio">Tudo</label></div>
     <div class="radio-item"><input type="radio" id="masqsRadio" value="mascaras" name="modo" onclick="clicouBotaoRadio()">
        <label for="masqsRadio">Masqs</label></div>
             <div class="radio-item"><input type="radio" id="minhasRadio" value="mascaras2" name="modo" onclick="clicouBotaoRadio()">
        <label for="minhasRadio">Minhas</label></div>

</fieldset>



</div>



       <div style="margin-bottom: .4rem; margin-top: .4rem;">
        <hr>
    <input style="width: 70%" autocomplete="off" id="procurarFrases" type="search" placeholder="Procurar frases ou usuários" onsearch="procurarTudo(0,1)"/><button style="width: 30%" id="botaoProcurarTudo" onclick="procurarTudo(0,1)">Procurar</button>
    </div>
</div>
<div class="list-group">


  <div id="accordion">

 {% for exame in exames %}
    <div class="card">
      <div class="card-header" id={{ exame.pk }} style="padding: 2px;">
        <h5 class="mb-0">


              <button class="btn btn-link" data-toggle="collapse" data-target="#collapse{{ exame.pk }}" aria-expanded="true" aria-controls="collapse{{ exame.pk }}">
                {{ exame.descricao }}
              </button>
            </h5>
          </div>

          <div id="collapse{{ exame.pk }}" class="collapse" aria-labelledby={{ exame.pk }} data-parent="#accordion">


                {% for especialidade in especialidades %}

              <div class="list-group" name="grupoEspecialidades">
                  <button style="padding: 4px; color:black;" onclick="clicouAba(this.name, this.value, 0, 1)" class="btn btn-link" value="{{ exame.pk }}" name="{{ especialidade.pk }}">{{ especialidade.descricao }}</button>

                </div>


                {% endfor %}



          </div>
        </div>
        {% endfor %}

  </div>


</div>


</div>

</div>

<div class="col">

<div style="padding-top: 0; margin-top:0; position: sticky; position: -webkit-sticky; top: 0; background-color: white;" >
<input type="hidden" id="especialidadeHidden">
    <input type="hidden" id="exameHidden">
    <input type="hidden" id="mascaraCountHidden">














</div>
<div id="direitadiv" style="padding-bottom: 1rem;">

</div>







</div>

</div>



</div>

{% endblock conteudo %}