{% extends "masks/base.html" %}

   {% block css %}

    {% load static %}

    <link rel="stylesheet" type="text/css" href="{% static 'masks/css/mascara.css' %}">
    <script type="text/javascript" src="{% static 'masks/tinymce/js/tinymce/tinymce.min.js' %}"></script>
        <link rel="stylesheet" type="text/css" href="{% static 'masks/css/comunidade.css' %}">

    <script type="text/javascript" src="{% static 'masks/js/comunidade.js' %}"></script>

  <script>
        var alterados = '{{ alterados|escapejs }}';
        var alteradosPopulares = '{{ alteradosPopulares|escapejs }}';
        var alteradosUsuario = '{{ alteradosUsuario|escapejs }}';
        var mascarasJson = '{{ mascarasJson|escapejs }}';
        var mascarasJsonPopulares = '{{ mascarasJsonPopulares|escapejs }}';
        var mascarasJsonUsuario = '{{ mascarasJsonUsuario|escapejs }}';
            var usuarios2 = '{{ usuarios2|escapejs }}';

            var normais = '{{ normais|escapejs }}';
            var profiles = '{{ profiles|escapejs }}';

            var mascarasRecentes = '{{ mascarasMaisRecentes|escapejs }}';

            var alteradosRecentes = '{{ alteradosMaisRecentes|escapejs }}';



    </script>

    {% endblock css %}

{% block conteudo %}




<div class="container-fluid" style="margin-top: 10px;">

<div class="row" style="margin-top: 30px;">

<div class="col-4">

    <input type="hidden" id="especialidadeHidden">
    <input type="hidden" id="exameHidden">
    <input type="hidden" id="clicouBotaoRadio" value=0>


    <div style="display: inline; white-space: nowrap; margin-left: 5px;"><input type="radio" id="frasesRadio" value="frases" name="modo" checked onclick="clicouBotaoRadio()">
        <label style="margin-right:30px" for="frasesRadio">Frases</label></div>
    <div style="display: inline; white-space: nowrap;"><input type="radio" id="mascarasRadio" value="mascaras" name="modo" onclick="clicouBotaoRadio()">
        <label for="mascarasRadio">Máscaras</label></div>
    <hr>

<div class="list-group">


  <div id="accordion">

 {% for exame in exames %}
    <div class="card">
      <div class="card-header" id={{ exame.pk }}>
        <h5 class="mb-0">


              <button class="btn btn-link" data-toggle="collapse" data-target="#collapse{{ exame.pk }}" aria-expanded="true" aria-controls="collapse{{ exame.pk }}">
                {{ exame.descricao }}
              </button>
            </h5>
          </div>

          <div id="collapse{{ exame.pk }}" class="collapse" aria-labelledby={{ exame.pk }} data-parent="#accordion">


                {% for especialidade in especialidades %}

              <div class="list-group" name="grupoEspecialidades">
                  <button style="color:black;" onclick="clicouAba(this.name, this.value)" class="btn btn-link" value="{{ exame.pk }}" name="{{ especialidade.pk }}">{{ especialidade.descricao }}</button>

                </div>


                {% endfor %}



          </div>
        </div>
        {% endfor %}

  </div>





</div>
</div>

<div class="col">


    <div style="display: inline; white-space: nowrap;"><input type="radio" id="popularRadio" name="submodo" value="popular" checked onclick="clicouBotaoRadio()">
        <label for="popularRadio" style="margin-right:30px">Mais Populares</label></div>
    <div style="display: inline; white-space: nowrap;"><input type="radio" id="recentesRadio" name="submodo" value=mascarasRecentes checked onclick="clicouBotaoRadio()">
        <label for="recentesRadio" style="margin-right:30px" style="margin-right:30px">Mais Recentes</label></div>
    <div style="display: inline; white-space: nowrap;"><input type="radio" id="alfabeticoRadio" name="submodo" value="alfabetico" onclick="clicouBotaoRadio()">
        <label for="alfabeticoRadio" style="margin-right:30px">Ordem Alfabética</label></div>
    <div style="display: inline; white-space: nowrap;"> <input type="radio" id="minhasRadio" name="submodo" value="minhas" onclick="clicouBotaoRadio()">
    <label id="minhasRadioLabel" for="minhasRadio">Autoria Própria</label></div>
    <div>
        <hr>
    <input style="width: 70%" autocomplete="off" id="procurarFrases" type="search" placeholder="Procurar frases" onkeyup="procurarEntradas(this.id)" onsearch="procurarEntradas(this.id)"/><button style="width: 30%" id="botaoProcurarTudo" onclick="procurarTudo()">Procurar</button>
    </div>
    <hr>
<div id="direitadiv">
    <h1 style="color: #c96100; text-align: center;">Seja bem vindo à comunidade Masqs!</h1>
    <br>
    <h3>Plataforma colaborativa de modelos de laudos e alterações em radiologia.</h3>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
      <br>
    <br>
    <br>
    <br>
    <br>

</div>
</div>

</div>



</div>

{% endblock conteudo %}