{% extends "masks/base.html" %}

   {% block css %}

    {% load static %}

    <link rel="stylesheet" type="text/css" href="{% static 'masks/css/mascara.css' %}">
    <script type="text/javascript" src="{% static 'masks/tinymce/js/tinymce/tinymce.min.js' %}"></script>
        <link rel="stylesheet" type="text/css" href="{% static 'masks/css/comunidade.css' %}">

    <script type="text/javascript" src="{% static 'masks/js/comunidade.js' %}"></script>

  <script>
        var alterados = '{{ alterados|escapejs }}';
        var alteradosPopulares = '{{ alteradosPopulares|escapejs }}';
        var alteradosUsuario = '{{ alteradosUsuario|escapejs }}';
        var mascarasJson = '{{ mascarasJson|escapejs }}';
        var mascarasJsonPopulares = '{{ mascarasJsonPopulares|escapejs }}';
        var mascarasJsonUsuario = '{{ mascarasJsonUsuario|escapejs }}';
            var usuarios2 = '{{ usuarios2|escapejs }}';

            var normais = '{{ normais|escapejs }}';
            var profiles = '{{ profiles|escapejs }}';

            var mascarasRecentes = '{{ mascarasMaisRecentes|escapejs }}';

            var alteradosRecentes = '{{ alteradosMaisRecentes|escapejs }}';
                    var mascarasJsonTotal = '{{ mascarasJsonTotal|escapejs }}';
                            var alteradosTotal = '{{ alteradosTotal|escapejs }}';
                            var usuarioLogado = '{{ usuarioLogado }}';
                                        var variaveis = '{{ variaveis|escapejs }}';
                                        var topicosUsuarioJson = '{{ topicosUsuarioJson|escapejs }}';






    </script>

    {% endblock css %}

{% block conteudo %}
<script>

        if(document.getElementById(window.location.href.substring(window.location.href.lastIndexOf('/') + 1)) != null) {
            document.getElementById(window.location.href.substring(window.location.href.lastIndexOf('/') + 1)).style.color = "#c96100";

    } else {
        document.getElementById("comunidade").style.color = "#c96100";
    }


</script>


<div class="container-fluid" style="margin-top: 10px; padding-bottom; 2rem;" id="container">


<div class="row">

<div class="col-4">
    <div style="text-align: center; padding-top: 0; position: sticky; position: -webkit-sticky; top: 0;">
<div>

        <div style="text-align: left">
<fieldset class="fieldset_nova_mascara">
    <legend class="legend_nova_mascara label_laranja" style="margin-bottom: 0; padding-bottom: 0;">Filtros</legend>
    <div class="radio-item2"><input type="radio" id="frasesRadio" name="submodo" value="popular" checked onclick="clicouBotaoRadio()">
        <label for="frasesRadio">Frases</label></div>
    <div class="radio-item2"><input type="radio" id="mascarasRadio" name="submodo" value=mascarasRecentes onclick="clicouBotaoRadio()">
        <label for="mascarasRadio">Máscaras</label></div>

    <hr>
                      <div class="radio-item"><input type="radio" id="tudoRadio" value="frases" name="modo" checked onclick="clicouBotaoRadio()">
        <label for="tudoRadio">Tudo</label></div>
     <div class="radio-item"><input type="radio" id="masqsRadio" value="mascaras" name="modo" onclick="clicouBotaoRadio()">
        <label for="masqsRadio">Masqs</label></div>
             <div class="radio-item"><input type="radio" id="minhasRadio" value="mascaras2" name="modo" onclick="clicouBotaoRadio()">
        <label for="minhasRadio">Minhas</label></div>

</fieldset>



</div>



       <div style="margin-bottom: .4rem; margin-top: .4rem;">
        <hr>
    <input style="width: 70%" autocomplete="off" id="procurarFrases" type="search" placeholder="Procurar frases ou usuários" onsearch="procurarTudo(0,1)"/><button style="width: 30%" id="botaoProcurarTudo" onclick="procurarTudo(0,1)">Procurar</button>
    </div>
</div>
<div class="list-group">


  <div id="accordion">

 {% for exame in exames %}
    <div class="card">
      <div class="card-header" id={{ exame.pk }} style="padding: 2px;">
        <h5 class="mb-0">


              <button class="btn btn-link" data-toggle="collapse" data-target="#collapse{{ exame.pk }}" aria-expanded="true" aria-controls="collapse{{ exame.pk }}">
                {{ exame.descricao }}
              </button>
            </h5>
          </div>

          <div id="collapse{{ exame.pk }}" class="collapse" aria-labelledby={{ exame.pk }} data-parent="#accordion">


                {% for especialidade in especialidades %}

              <div class="list-group" name="grupoEspecialidades">
                  <button style="padding: 4px; color:black;" onclick="clicouAba(this.name, this.value, 0, 1)" class="btn btn-link" value="{{ exame.pk }}" name="{{ especialidade.pk }}">{{ especialidade.descricao }}</button>

                </div>


                {% endfor %}



          </div>
        </div>
        {% endfor %}

  </div>


</div>


</div>

</div>

<div class="col">

<div style="padding-top: 0; margin-top:0; position: sticky; position: -webkit-sticky; top: 0; background-color: white;" >
<input type="hidden" id="especialidadeHidden">
    <input type="hidden" id="exameHidden">
    <input type="hidden" id="mascaraCountHidden">














</div>
<div id="direitadiv" style="padding-bottom: 1rem;">

</div>







</div>

</div>



</div>












    <!-- Modal de Copiar Alteração-->
    <div class="modal fade" id="myModalCopiarAlteracao" tabindex="-1" role="dialog" aria-labelledby="myModalCopiarAlteracaoTitle" aria-hidden="true">
        <div id="modal_copiar_alteracoes" class="modal-dialog" role="document">
            <div class="modal-content">
                 <form action="" method="post" id="formulario_copiar_alteracao">
                        {% csrf_token %}

              <div class="modal-header">
                <h5 style="color: #c96100;" class="modal-title" id="myModalCopiarAlteracaoTitle">Copiar Alteração</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                  <span aria-hidden="true">&times;</span>
                </button>
              </div>
              <div class="modal-body" id="modal_copiar_alteracao_body">
                  <div id="corpo_modal" style="padding: 1rem;">





                        <div class="form-group">
                            <div style="margin-bottom: 1rem; margin-top: 1rem;">
                          <label class="label_laranja" id="label_exames" for="exames">Exame</label>
                          <select class="form-control" name ="exames" id="exames" onchange="clicouExame()"">
                              <option id="padraoexames" value="-1" disabled selected value>Selecione um exame</option>

                            {% for exame in exames %}
                              <option value={{ exame.pk }}>{{ exame.descricao }}</option>
                            {% endfor %}


                          </select>
                                </div>

                        </div>

                             <div class="form-group">
                            <div style="margin-bottom: 1rem; margin-top: 1rem;">
                          <label class="label_laranja" id="label_especialidades" for="especialidades">Especialidade</label>
                          <select class="form-control" name ="especialidades" id="especialidades" onchange="clicouEspecialidade()">
                              <option id="padraoespecialidade" value="-1" disabled selected value>Selecione uma especialidade</option>

                            {% for especialidade in especialidades %}
                              <option value={{ especialidade.pk }}>{{ especialidade.descricao }}</option>
                            {% endfor %}


                          </select>
                                </div>
                             </div>



                                                   <div class="form-group">
                            <div style="margin-bottom: 1rem; margin-top: 1rem;">
                          <label class="label_laranja" id="label_mascaras" for="mascarasselect">Máscara</label>
                          <select class="form-control" name ="mascarasselect" id="mascarasselect" onchange="clicouMascara()">
                              <option id="padrao" value="-1" disabled selected value>Selecione uma máscara</option>

                            {% for mascara in mascarasUsuario %}
                              <option name="opcaomascara" value={{ mascara.pk }}>{{ mascara.nome }}</option>
                            {% endfor %}


                          </select>
                                </div>
                             </div>


                             <div class="form-group">
                            <div style="margin-bottom: 1rem; margin-top: 1rem;">
                          <label class="label_laranja" id="label_topicos" for="topicos">Tópico</label>
                          <select class="form-control" name ="topicos" id="topicos" onchange="clicouTopico()">
                              <option id="padraotopicos" value="-1" disabled selected value>Selecione um tópico</option>

                            {% for topico in topicosUsuario %}
                              <option name="opcaotopico" value={{ topico.pk }}>{{ topico.orgao }}</option>
                            {% endfor %}


                          </select>
                                </div>
                             </div>



                            <div style="margin-bottom: 0rem;">
                            <label class="label_laranja" for="nome_modal">Nome: </label>
                             <input type="text" id="nome_modal" name="nome_modal"/>
                           </div>



                            <input type="hidden" id="relatorio_modal" name="relatorio_modal">
                          <input type="hidden" id="conclusao_modal" name="conclusao_modal">

                            <br>










                            {% for profile in profiles %}
                                {% if profile.usuario == request.user and profile.is_premium %}
                                    <input type="checkbox" id="frase_publica" name="frase_publica" checked/>
                                    <label for="frase_publica">Frase pública</label>
                                {% elif profile.usuario == request.user %}
                                    <input style="display: none;" type="checkbox" id="frase_publica" name="frase_publica" checked/>
                                    <label style="display: none;" for="frase_publica">Frase pública</label>
                                {% endif %}
                            {% endfor %}



                            <input type="hidden" id="usuario_id_alteracao" style="display: none;">
                            <input type="hidden" id="usuario_orgao_alteracao" name="usuario_orgao_alteracao" style="display: none;">

                            <input type="hidden" id="frase_aproveitada" name="frase_aproveitada" style="display: none;">
                            <input type="hidden" id="conclusaoNormal" name="conclusaoNormal" style="display: none;">









                  <div id="corpo_variaveis"style="margin: 1rem;">



                  </div>



              </div>

              </div>

              <div style="text-align: center; margin-bottom: 1rem;">
                  <a style="color: #c96100;" id="salva_mudancas">Adicionar</a>
                <a style="color: #000000; margin-left: 2rem;" href="#" onclick="$('#myModalCopiarAlteracao').modal('hide')">Cancelar</a>

              </div>
             </form>







            </div>




        </div>


    </div>




<script>
     $('#myModalCopiarAlteracao').on('show.bs.modal', function (e) {

              document.getElementById("especialidades").setAttribute("disabled", "disabled");
                            document.getElementById("mascarasselect").setAttribute("disabled", "disabled");
              document.getElementById("topicos").setAttribute("disabled", "disabled");

        });

        $("#nome_modal").on('change keyup paste', function() {
    clicouTopico();
});



 $('#myModalCopiarAlteracao').on('hide.bs.modal', function (e) {

                    document.getElementById("exames").value = -1;
                    document.getElementById("especialidades").value = -1;
                    document.getElementById("mascarasselect").value = -1;
                    document.getElementById("topicos").value = -1;
                  document.getElementById("especialidades").setAttribute("disabled", "disabled");
                  document.getElementById("mascarasselect").setAttribute("disabled", "disabled");
                  document.getElementById("topicos").setAttribute("disabled", "disabled");
                  document.getElementById("nome_modal").value = "";
                document.getElementById("salva_mudancas").removeAttribute("href");



        });


</script>






{% endblock conteudo %}