{% extends "masks/base.html" %}

{% block css %}

    {% load static %}

    <link rel="stylesheet" type="text/css" href="{% static 'masks/css/mascara.css' %}">

{% endblock css %}


{% block conteudo %}

<script type="text/javascript" src="{% static 'masks/js/mascaras.js' %}"></script>

<script>

        if(document.getElementById(window.location.href.substring(window.location.href.lastIndexOf('/') + 1)) != null) {
            document.getElementById(window.location.href.substring(window.location.href.lastIndexOf('/') + 1)).style.color = "#c96100";

    }


</script>

<div id="containermascaras"  style="padding-top: 0px; margin-top: 5px;">

<div class="container-fluid">

<div class="row">







<div class="col-1"></div>



<div class="col-10" style="margin-top: 1rem; margin-bottom: 1rem;">


<form action="{% url 'nova_mascara' %}">
        <input style="width: 100%; margin-bottom: 20px;" class="btn btn-primary" type="submit" value="Nova Máscara" onclick="blur();"/>

</form>



<div class="list-group">


  <div id="accordion">

 {% for especialidade in especialidades %}
    <div class="card">
      <div class="card-header" id={{ especialidade.pk }}>
        <h5 class="mb-0">


              <button onclick="clicouAba(this)" class="btn btn-link" data-toggle="collapse" data-target="#collapse{{ especialidade.pk }}" aria-expanded="true" aria-controls="collapse{{ especialidade.pk }}">
                {{ especialidade.descricao }}
              </button>
            </h5>
          </div>

          <div id="collapse{{ especialidade.pk }}" class="collapse" aria-labelledby={{ especialidade.pk }} data-parent="#accordion">


                {% for mascara in mascaras %}
                {% if mascara.especialidade == especialidade %}
              <div class="card-body">

              <div class="list-group" style="border-collapse: collapse; margin: .5rem;">
                <div id="container-fluid-div" class="container-fluid" style="margin: 2px; padding: 2px;">
                    <div class="row">
                    <div class="col-5">

                        <a class="link_mascara" href="{% url 'mostrar_mascara' id_mascara=mascara.pk %}" name="{{ mascara.exame.pk }}">{{ mascara.nome }}</a>
                    </div>

                    <div class="col" style="margin-bottom: .5rem;">
                        <div class="container-fluid" >
                            <div class="row">
                                <div class="col-8" style="text-align: right">
                                   <form method="get" action="{% url 'editar_mascara' id_mascara=mascara.pk %}">
                                    <input class="botao_configuracao" type="submit" value="Editar" />
                                </form>
                                </div>

                                <div class="col-4" style="text-align: right">
                                   <form method="get" action="{% url 'excluir_mascara' id_mascara=mascara.pk %}">
                                    <input id="{{ mascara.pk }}" class="botao_configuracao" type="button" value="Excluir" onclick="clicouExcluir(this.id)"/>
                                </form>
                                </div>


                         </div>
                            </div>
                    </div>

                        </div>

                </div>
            </div>

            </div>
                {% endif %}
                {% endfor %}



          </div>
        </div>
        {% endfor %}

  </div>





</div>




</div>


<div class="col-1"></div>



  </div>



    <div class="row">

        <div class="col-1"></div>


        <div class="col-10">


    <form id="formulario_configuracoes" action="{% url 'salvar_configuracoes' %}" method="post">
        {% csrf_token %}

        <div style="margin-top: .6rem;" class="box_mascaras" id="aparencia">

        <div style="margin-bottom: .3rem;" class="header_box_mascaras">
        Aparência das máscaras

        </div>

            <div style="padding: .5rem;">

    <fieldset class="fieldset_nova_mascara">
    <legend class="legend_nova_mascara label_laranja">Aparência Geral</legend>

    <label>Fonte da máscara</label>
    <div class="form-group">
  <select class="form-control" name ="fonte" id="fonte">
      <option value="{{ profile.fonte }}">{{ profile.fonte }}</option>

    <option value="Times New Roman, Times, serif">Times New Roman</option>
    <option value="Georgia, serif">Georgia</option>
    <option value="Palatino Linotype, Book Antiqua, Palatino, serif">Palatino Linotype</option>

    <option value="Arial, Helvetica, sans-serif">Arial</option>
    <option value="Arial Black, Gadget, sans-serif">Arial Black</option>
      <option value="Calibri, sans-serif">Calibri</option>
    <option value="Comic Sans MS, cusrsive, sans-serif">Comic Sans MS</option>
    <option value="Impact, Charcoal, sans-serif">Impact</option>
    <option value="Lucida Sans Unicode, Lucida Grande, sans-serif">Lucida Sans Unicode</option>
    <optino value="Tahoma, Geneva, sans-serif">Tahoma</optino>
    <option value="Trebuchet MS, Helvetica, sans-serif">Trebuchet MS</option>
    <option value="Verdana, Geneva, sans-serif">Verdana</option>

    <option value="Courier New, Courier, monospace">Courier New</option>
    <option value="Lucida Console, Monaco, monospace">Lucida Console</option>


  </select>
    </div>

<hr>
                 <label>Cor da fonte nas máscaras</label>
            <input style="margin: .1rem;" type="color" id="cor_mascara" name="cor_mascara"
           value="{{ profile.cor_mascara }}">

<hr>
                <label>Tamanho da fonte nas máscaras</label>
    <div class="form-group">
  <select class="form-control" name ="tamanho_fonte" id="tamanho_fonte">
  <option value="{{ profile.tamanho_fonte }}">{{ profile.tamanho_fonte }}</option>

    <option value="10px">10px</option>
      <option value="12px">12px</option>
    <option value="14px">14px</option>
  <option value="16px">16px</option>
    <option value="18px">18px</option>
    <option value="20px">20px</option>
  <option value="22px">22px</option>
  <option value="24px">24px</option>
        <option value="26px">26px</option>
      <option value="28px">28px</option>
            <option value="30px">30px</option>
    <option value="32px">32px</option>
          <option value="34px">34px</option>
                <option value="36px">36px</option>



  </select>
    </div>

<hr>
        <label>Espaçamento entre as linhas</label>
    <div class="form-group">
  <select class="form-control" name ="altura_linha" id="altura_linha">
  <option value="{{ profile.altura_linha }}">{{ profile.altura_linha }}</option>
  <option value="100%">100%</option>

  <option value="120%">120%</option>
    <option value="150%">150%</option>
      <option value="170%">170%</option>

  <option value="200%">200%</option>
        <option value="250%">250%</option>
              <option value="300%">300%</option>


  </select>
    </div>

<hr>



    <label>Espaçamento entre os tópicos</label>
    <div class="form-group">
  <select class="form-control" name ="espacamento_topicos" id="espacamento_topicos">
  <option value="{{ profile.espacamento_topicos }}">{{ profile.espacamento_topicos }}</option>

  <option value="0px">0px</option>
    <option value="3px">3px</option>

  <option value="5px">5px</option>
      <option value="10px">10px</option>
    <option value="15px">15px</option>
          <option value="20px">20px</option>
                <option value="25px">25px</option>
          <option value="30px">30px</option>
                <option value="35px">35px</option>


  </select>
    </div>

            {% if profile.mascara_topicos == True %}
                <input onclick="clicouCheckboxTopicos()" type="checkbox" name="mascara_topicos" id="mascaraJamesCheck" checked value="True"> <label for="mascaraJamesCheck">Máscara com tópicos</label>

            {% else %}
                <input onclick="clicouCheckboxTopicos()" type="checkbox" name="mascara_topicos" id="mascaraJamesCheck" value="False"> <label for="mascaraJamesCheck">Máscara com tópicos</label>

            {% endif %}

                <p>Selecione esta opção para que os nomes dos órgãos apareçam como tópicos imutáveis em suas máscaras.</p>
<hr>

    </fieldset>

      <fieldset class="fieldset_nova_mascara">
    <legend class="legend_nova_mascara label_laranja">Título</legend>

    <label>Alinhamento do título</label>
    <div class="form-group">
  <select class="form-control" name ="alinhamento_titulo" id="alinhamento_titulo">

        {% if profile.alinhamento_titulo == "left" %}
    <option value="left">À esquerda</option>
      {% else %}
    <option value="center">Centralizado</option>
    {% endif %}

    <option value="left">À esquerda</option>
    <option value="center">Centralizado</option>

       </select>
    </div>

<hr>

      <label>Tamanho da fonte do título</label>
    <div class="form-group">
  <select class="form-control" name ="tamanho_titulo" id="tamanho_titulo">
         <option value="{{ profile.tamanho_titulo }}">{{ profile.tamanho_titulo }}</option>

   <option value="24px">24px</option>
      <option value="28px">28px</option>
    <option value="32px">32px</option>
          <option value="36px">36px</option>
          <option value="40px">40px</option>

<option value="44px">44px</option>
<option value="48px">48px</option>
      <option value="52px">52px</option>
            <option value="56px">56px</option>



  </select>
    </div>


          <hr>
            <label>Cor do título</label>
            <input style="margin-bottom: .7rem;" type="color" id="cor_titulo" name="cor_titulo"
           value="{{ profile.cor_titulo }}">
            <br>

<hr>

      <label>Capitalização do Título</label>
    <div class="form-group">
  <select class="form-control" name ="capitalizacao" id="capitalizacao">
         <option value="{{ profile.capitalizacao }}">{{ profile.capitalizacao }}</option>

   <option value="none">Não forçar capitalização</option>
   <option value="capitalize">Primeiras letras das palavras</option>
      <option value="uppercase">Todas as letras do título</option>




  </select>
    </div>




      </fieldset>


                  <fieldset class="fieldset_nova_mascara">
    <legend class="legend_nova_mascara label_laranja">Cabeçalhos</legend>

             <label>Alinhamento dos cabeçalhos</label>
    <div class="form-group">
  <select class="form-control" name ="alinhamento_topicos" id="alinhamento_topicos">

        {% if profile.alinhamento_topicos == "left" %}
    <option value="left">À esquerda</option>
      {% else %}
    <option value="center">Centralizado</option>
    {% endif %}

    <option value="left">À esquerda</option>
    <option value="center">Centralizado</option>
       </select>
    </div>
<hr>

            <label>Tamanho da fonte dos cabeçalhos</label>
    <div class="form-group">
  <select class="form-control" name ="tamanho_topicos" id="tamanho_topicos">
       <option value="{{ profile.tamanho_topicos }}">{{ profile.tamanho_topicos }}</option>

<option value="16px">16px</option>
          <option value="20px">20px</option>
    <option value="24px">24px</option>
      <option value="28px">28px</option>
    <option value="32px">32px</option>
          <option value="36px">36px</option>
          <option value="40px">40px</option>
<option value="44px">44px</option>
<option value="48px">48px</option>

  </select>
    </div>

<hr>
    <label>Margem superior dos cabeçalhos</label>
    <div class="form-group">
  <select class="form-control" name ="margem_cabecalho" id="margem_cabecalho">
       <option value="{{ profile.margem_cabecalho }}">{{ profile.margem_cabecalho }}</option>
   <option value="0px">0px</option>
   <option value="6px">6px</option>
   <option value="12px">12px</option>
   <option value="18px">18px</option>
   <option value="24px">24px</option>
    <option value="30px">30px</option>
<option value="36px">36px</option>
<option value="42px">42px</option>
      <option value="48px">48px</option>
    <option value="54px">54px</option>



  </select>
    </div>
<hr>

      <label>Cor da fonte dos cabeçalhos</label>
            <input style="margin-bottom: .7rem;" type="color" id="cor_topicos" name="cor_topicos"
           value="{{ profile.cor_topicos }}">

                  </fieldset>
                <br>
                <div>
                    {% if profile.quadro_mais == True %}
                         <input onclick="clicouCheckboxQuadroMais()" type="checkbox" name="quadro_mais" id="quadroMaisCheckbox" checked value="True"> <label for="quadroMaisCheckbox">Mostrar quadro de frases mais utilizadas no final da máscara</label>

                    {% else %}
                        <input onclick="clicouCheckboxQuadroMais()" type="checkbox" name="quadro_mais" id="quadroMaisCheckbox" value="False"> <label for="quadroMaisCheckbox">Mostrar quadro de frases mais utilizadas no final da máscara</label>

                    {% endif %}
                </div>
            <div style="text-align: center;">
                <br>
        <input class="btn btn-primary" type="submit" value="Salvar" data-toggle="modal" data-target="#modalAlerta" style="margin-bottom: 1rem;">

            </div>

                </div>

    </div>
    </form>
    <br>


    <div class="box_mascaras" id="funcionalidade">
        <div class="header_box_mascaras">
            Segurança

        </div>


        <form action="{% url 'link_reset' %}" method="post" style="text-align: center;">
    {% csrf_token %}
        <input type="hidden" name="email" id="email" value="{{ request.user.email }}"/>

<button class="btn btn-secondary" style="margin: 1rem;" type="submit">Alterar senha</button>

</form>


    </div>

<br>


</div>


        <div class="col-1"></div>


    </div>

  </div>


    <!-- Modal alerta-->
    <div class="modal fade" id="modalAlerta" tabindex="-1" role="dialog" aria-labelledby="modalAlertaTitle" aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
              <div class="modal-header">
                <h5 class="modal-title" id="modalAlertaTitle"></h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                  <span aria-hidden="true">&times;</span>
                </button>
              </div>
              <div class="modal-body">
                  <div style="text-align: center; padding-top: 3rem; padding-bottom:2.5rem; padding-left: 3rem; padding-right: 3rem;">

                      <h3>Configurações salvas com sucesso!</h3>

                  </div>

              </div>
              <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">OK</button>
              </div>
            </div>
        </div>


</div>







{% endblock conteudo %}


