{% extends "masks/base.html" %}

{% block css %}

    {% load static %}

    <link rel="stylesheet" type="text/css" href="{% static 'masks/css/mascara.css' %}">
    <script type="text/javascript" src="{% static 'masks/js/index.js' %}"></script>

{% endblock css %}


{% block conteudo %}
<script>
    document.getElementById("barra_navegacao").style.display = "none";
        document.getElementById("form_username").style.display = "none";


</script>
<br>
<br>
<br>
<h3 style="text-align: center;">Digite sua nova senha</h3>
<br>
<form id="confirmar_reset" action="{% url 'confirmar_reset' %}" method="post" style="text-align: center;">
    {% csrf_token %}
<div id="senha_div">
<input type="password" placeholder="Senha" id="senha" name="senha">
    <br>
    <br>
    <input type="password" placeholder="Repetir senha" id="repetir_senha" name="senha">
    <br>
    <br>
</div>
<button type="button" onclick="clicouAlterarSenha()">Resetar senha</button>
</form>
<br>

<br>
<br>
<br>
<br>
<br>
{% endblock conteudo %}