{% extends "masks/base.html" %}

{% block css %}

    {% load static %}

    <link rel="stylesheet" type="text/css" href="{% static 'masks/css/mascara.css' %}">

{% endblock css %}


{% block conteudo %}

<script type="text/javascript" src="{% static 'masks/js/mascaras.js' %}"></script>

<div id="containermascaras">

<div class="container-fluid">

<div class="row">




<div class="col-8">
     <form action="{% url 'nova_mascara' %}" method="post">
    {% csrf_token %}
      <input id = "botaonovamascara" type="submit" class="btn btn-primary" value="Criar Máscara"/>
  </form>







<div class="list-group">


  <div id="accordion">

 {% for especialidade in especialidades %}
    <div class="card">
      <div class="card-header" id={{ especialidade.pk }}>
        <h5 class="mb-0">


              <button class="btn btn-link" data-toggle="collapse" data-target="#collapse{{ especialidade.pk }}" aria-expanded="true" aria-controls="collapse{{ especialidade.pk }}">
                {{ especialidade.descricao }}
              </button>
            </h5>
          </div>

          <div id="collapse{{ especialidade.pk }}" class="collapse" aria-labelledby={{ especialidade.pk }} data-parent="#accordion">


                {% for mascara in mascaras %}
                {% if mascara.especialidade == especialidade %}
              <div class="card-body">

              <div class="list-group" style="border-collapse: collapse; margin: .5rem;">
                <div id="container-fluid-div" class="container-fluid" style="margin: 2px; padding: 2px;">
                    <div class="row">
                    <div class="col-6">

                        <a class="link_mascara" href="{% url 'mostrar_mascara' id_mascara=mascara.pk %}" name="{{ mascara.exame.pk }}">{{ mascara.nome }}</a>
                    </div>

                    <div class="col" style="margin-bottom: .5rem;">
                        <div class="container-fluid" >
                            <div class="row">
                                <div class="col-6">
                                   <form method="get" action="{% url 'editar_mascara' id_mascara=mascara.pk %}">
                                    <input class="botao_configuracao" type="submit" value="Editar" />
                                </form>
                                </div>

                                <div class="col-6">
                        <button class="botao_configuracao">Excluir</button>
                                    </div>


                         </div>
                            </div>
                    </div>

                        </div>

                </div>
            </div>

            </div>
                {% endif %}
                {% endfor %}



          </div>
        </div>
        {% endfor %}

  </div>





</div>




</div>




<div class="col-4">


    <form id="formulario_configuracoes" action="{% url 'salvar_configuracoes' %}" method="post">
        {% csrf_token %}

        <div class="box_mascaras" id="aparencia">

        <div class="header_box_mascaras">
        Aparência da máscara

        </div>

    <div class="form-group">
  <select class="form-control" name ="fonte" id="fonte">
    <option value="Times New Roman, Times, serif">Times New Roman, Times, serif</option>
    <option value="Arial, Helvetica, sans-serif">Arial, Helvetica, sans-serif</option>


  </select>
    </div>


    </div>

    <br>

    <div class="box_mascaras" id="funcionalidade">
        <div class="header_box_mascaras">
            Funcionalidade da máscara

        </div>
        teste

    </div>

        <input type="submit" value="Salvar">

    </form>

</div>






  </div>

  </div>




</div>



{% endblock conteudo %}

