<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Masqs - Contato</title>
    {% load static %}

  <!-- Global site tag (gtag.js) - Google Analytics -->
        <script async src="https://www.googletagmanager.com/gtag/js?id=UA-177868482-1"></script>
        <script>
          window.dataLayer = window.dataLayer || [];
          function gtag(){dataLayer.push(arguments);}
          gtag('js', new Date());

          gtag('config', 'UA-177868482-1');
        </script>
            <link rel="shortcut icon" href="{% static 'masks/images/iconewindow.png' %}" />


     <!-- Bootstrap CSS -->
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css" integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk" crossorigin="anonymous">


          <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/js/bootstrap.min.js" integrity="sha384-OgVRvuATP1z7JjHLkuOU7Xw704+h835Lr+6QL9UvYjZE3Ipu6Tp75j7Bh/kR0JKI" crossorigin="anonymous"></script>

<script type="text/javascript" src="{% static 'masks/js/index.js' %}"></script>
<script>
            var usuarios = '{{ usuarios|escapejs }}';

        </script>

        <!-- Required meta tags for bootstrap-->
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

<link rel="stylesheet" type="text/css" href="{% static 'masks/css/entrar.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'masks/css/quemsomos.css' %}">

</head>
<body>


 <nav class="navbar navbar-dark navbar-expand-sm">
        <a href="/" class="navbar-left"><img width="250" height="60" id="logo_navbar" src="{% static 'masks/images/icone2.png' %}"></a>

        <div class="container">
            <button id="botao_expansor" class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
                aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarSupportedContent">

                    <ul class="navbar-nav mr-auto" id="barra_navegacao">


                    <li class="nav-item">
                        <a id="home" class="nav-link" href="/">Home</a>
                    </li>

                     <li class="nav-item">
                        <a id="sobre" class="nav-link" href="{% url 'quemsomos' %}">Sobre</a>



                            <li class="nav-item">
                        <a id="contato" class="nav-link" href="{% url 'contato' %}">Contato</a>
                    </li>

                </ul>

                <form id="form_username" style="padding: 10px; text-align: right;">
                    <span style="color: #c96100;" id="username">{{ user.username }}</span>
                    <a id="loginlogout" style="font-size: 1.3rem; " href="{% url 'mostrar_index' %}">Login</a>


                </form>

            </div>
        </div>
    </nav>



<div class="container-fluid">

<div class="row">


    <div class="col-1">


</div>



<div class="col-10">

<form action="{% url 'enviar_mensagem' %}" method="post" id="formulario_enviar_mensagem">
{% csrf_token %}
    <div id="enviarmensagemdiv">
    <br>
        <label for="assunto">Assunto:</label>
        <select name="assunto" id="assunto">
            <option value="Reportar bug">Reportar bug</option>
            <option value="Assinatura Premium">Assinatura Premium</option>
            <option value="Problemas de cadastro">Problemas de cadastro</option>
            <option value="Ajuda sobre o aplicativo">Ajuda sobre o aplicativo</option>
            <option value="Sugestão de ferramenta nova">Sugestão de ferramenta nova</option>
            <option value="Críticas e sugestões">Críticas e sugestões</option>
            <option value="Outros">Outros</option>
        </select>
        {% if autenticado %}
            <label for="email">Email:</label>
            <input type="email" id="email" name="email" value="{{ request.user.email }}" readonly>
        {% else %}
            <label for="email">Email:</label>
            <input type="email" id="email" name="email" placeholder="Digite seu email">
        {% endif %}

        <div>
            <br>
        <label for="mensagem">Mensagem:</label>
            <br>
        <textarea rows="7" cols="100" placeholder="Escreva sua mensagem" type="text" id="mensagem" name="mensagem" style="width: 50%;"></textarea>
        <br>
            <br>
        <input type="submit" value="Enviar">
        </div>

    </div>
</form>

    <div style="text-align: center;" id="contato">
<br>
    <img id="contato_image" src="{% static 'masks/images/email.png' %}">
        <br>
        <a href="mailto:contato@masqs.com.br">contato@masqs.com.br</a>
        <br>

        <br>
    </div>

                   <div style="text-align: center">
    <a href="javascript:history.back()">Voltar</a>
        <br>
        <br>
                        <br>
                       <br>
                       <br>

    </div>

</div>

        <div class="col-1">


</div>

</div>

</div>


    <footer id="myfooter" style="position: fixed; bottom: 0; left: 0; width: 100%;">Copyright © 2022 Masqs</footer>



</body>



</html>











