{% extends "masks/base.html" %}

{% block css %}

    {% load static %}
        <link rel="stylesheet" type="text/css" href="{% static 'masks/css/comunidade.css' %}">



{% endblock css %}


{% block conteudo %}

<div style="text-align: center; margin-left:5rem; margin-right:5rem; margin-top:5rem;">


<h1>Alteração copiada com sucesso para o seu banco de dados</h1>



<br>

    <a id="link_inicio" href="{% url 'comunidade' %}">Voltar</a>


    </div>

<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>

{% endblock conteudo %}

