{% extends "masks/base.html" %}

{% block css %}

    {% load static %}
        <link rel="stylesheet" type="text/css" href="{% static 'masks/css/sobre.css' %}">



{% endblock css %}


{% block conteudo %}


<div class="container-fluid">

<div class="row">


    <div class="col-1">


</div>



<div class="col-10">

    <div id="info">
            <h1 id="proposito">Propósito</h1>
            <p>Nosso aplicativo tem a intenção de acelerar a criação de laudos radiológicos
            com o auxílio de máscaras, alterações e variáveis padronizadas. As frases recorrentes
            do dia a dia podem ser cadastradas como alterações no aplicativo. Cada alteração cadastrada modifica um
            único tópico, de uma única máscara, ou seja, cada máscara possui um conjunto de alterações que
                poderão alterar os seus tópicos normais e, quando desejado, a conclusão. As idiossincrasias de cada laudo e
            alterações muito específicas, que provavelmente jamais voltarão a se repetir,
                devem ser adicionadas posteriormente, após copiar e colar o
            laudo na área de trabalho do usuário. Se houver uma remota possibilidade da alteração vir a se repetir no futuro,
            o radiologista deverá ponderar cadastrar uma alteração para ela dentro do
            aplicativo, pois temos um mecanismo de classificação
                das alterações baseado na frequência com que são utilizadas e um mecanismo de busca a partir das iniciais da
            alteração, de tal forma que um número muito grande de alterações cadastradas não
            traz prejuízo para encontrá-las rapidamente.</p>
            <h1 id="mascara">Máscaras</h1>
            <p>A máscara é onde tudo começa e representa o laudo padrão
            normal. São totalmente personalizáveis e possuem os tópicos normais
            do laudo, os quais serão modificados pelas alterações.</p>
            <h1 id="alteracoes">Alterações</h1>
            <p>As alterações são frases padrões criadas pelo usuário. Cada alteração
            modifica um tópico normal da máscara e altera a conclusão, quando desejado. As alterações
                representam as frases mais utilizadas pelo radiologista no seu dia a dia e os diagnósticos mais comuns
            na sua rotina de trabalho.</p>
             <h1 id="variaveis">Variáveis</h1>
            <p>As variáveis dão versatilidade ao aplicativo, evitam a duplicidade de máscaras
            e alterações, bem como facilitam a entrada de valores numéricos e realização de
            operações matemáticas (cálculo de volume, por exemplo).</p>
            <h1 id="comunidade">Comunidade</h1>
        <p>As <span>máscaras, alterações e variáveis</span> são compartilhadas entre os usuários do
            aplicativo, fortalecendo o espírito comunitário e a disseminação do
            conhecimento.</p>
        <br>
                    <h5 id="termos">Termos de uso</h5>
        <p>blá, blá blá</p>

    </div>

</div>

        <div class="col-1">


</div>

</div>

</div>

{% endblock conteudo %}

