{% extends "masks/base.html" %}

{% block css %}

    {% load static %}
        <link rel="stylesheet" type="text/css" href="{% static 'masks/css/sobre.css' %}">



{% endblock css %}


{% block conteudo %}


<div class="container-fluid">

<div class="row">


    <div class="col-1">


</div>



<div class="col-10">

    <div id="info">
            <h1 id="proposito">Propósito</h1>
            <p>Nosso aplicativo tem a intenção de acelerar a criação de laudos radiológicos
            com o auxílio de máscaras, alterações e variáveis padronizadas. As frases recorrentes
            do dia a dia podem ser cadastradas como alterações no aplicativo. Cada alteração cadastrada modifica um
            único tópico, de uma única máscara, ou seja, cada máscara possui um conjunto de alterações que
                poderão alterar os seus tópicos normais e, quando desejado, a conclusão. As idiossincrasias de cada laudo e
            alterações muito específicas, que provavelmente jamais voltarão a se repetir,
                devem ser adicionadas posteriormente, após copiar e colar o
            laudo na área de trabalho do radiologista. Possuimos um mecanismo de classificação
                das alterações baseado na frequência com que são utilizadas e um mecanismo de busca a partir das iniciais da
            alteração.</p>
            <h1 id="mascara">Máscaras</h1>
            <p>As máscaras são criadas pelo usuário com suas
            frases personalizadas, bastando escolher o tipo do exame (tomografia, ultrassonografia, etc) e a
            especialidade (neurologia, ginecologia, etc) desejada. As máscaras representam o laudo normal e são
            modificadas pelas alterações. As variáveis (leia
                mais embaixo sobre elas) devem ser utilizadas
            para evitar a duplicação de máscaras. Por exemplo, para não
            ter que criar uma máscara para o joelho direito e outra máscara
            para o joelho esquerdo, e alterações
                separadas e duplicadas para cada uma,
                pode-se criar uma única máscara com uma
            variável para joelho direito e outra para joelho esquerdo, evitando-se
            assim também a duplicação de alterações.</p>
            <h1 id="alteracoes">Alterações</h1>
            <p>As alterações representam os diagnósticos radiológicos, e também
            se utilizam da versatilidade das variáveis. Cada alteração modifica
            um tópico da máscara padrão normal e a conclusão, quando desejado.
            Caso o usuário deseje uma alteração sem conclusão, basta deixar a
            conclusão em branco.</p>
             <h1 id="variaveis">Variáveis</h1>
            <p>As variáveis também são criadas pelo usuário. Existem dois tipos
                de variáveis possíveis no aplicativo: <span style="text-decoration: underline;">quantitativa</span> e <span style="text-decoration: underline;">qualitativa</span>. As variáveis quantitativas
                são representadas por valores numéricos resultantes de uma
                medida radiológica ou expressão matemática (cálculo de volume,
                por exemplo). Alguns exemplos de variáveis <span style="text-decoration: underline;">quantitativas</span>
                são o calibre de um apêndice
                aumentado e o volume de um útero normal.
                As variáveis qualitativas representam um atributo ou qualidade e
                possuem valores possíveis pré-determinados pelo usuário. Alguns
                exemplos de variáveis <span style="text-decoration: underline;">qualitativas</span> são a lateralidade (direita ou
                esquerda) e o grau de esteatose hepática (leve, moderada ou acentuada).

            </p>
        <p>Para criar variáveis <span style="text-decoration: underline;">quantitativas</span> nas máscaras normais e nas alterações,
        o usuário deve colocá-las entre colchetes como em {var_1}, por exemplo. As
            variáveis quantitativas permitem operações matemáticas simples,
            como multiplicação, divisão, adição e subtração, devendo-se utilizar
            os símbolos de + para adição, - para subtração, * para multiplicação e / para divisão.
            As variáveis
        <span style="text-decoration: underline;">qualitativas</span> devem ser separadas por uma barra vertical (|) dentro
        dos colchetes como em {var_1|var_2|var_3}, por exemplo. As
        variáveis não devem conter espaços, como em {var 1}, devendo-se utilizar o símbolo de underline (_)
        para separar palavras dentro de uma mesma variável.</p>
        <p>Alguns exemplos válidos:<br>
        Em uma máscara normal: Útero em {avf|rvf}, medindo {long} x {trans} x {ap} cm, com
        volume de {long * trans * ap * 0,52} cm³. Observe que o símbolo para multiplicação é o
            asterisco (*) e não o "x" e o símbolo para divisão é a barra invertida (/).<br>
        Em uma alteração: Esteatose hepática {leve|moderada|acentuada}.</p>
        <p>Sempre que o usuário adiciona variáveis quantitativas ou qualitativas na máscara ou alteração,
        antes de sálva-los, o sistema solicita um preenchimento com nomes amigáveis,
        para facilitar o trabalho posterior do radiologista ao preenchê-las no momento da
        confecção do laudo propriamente dito. O sistema não permite a existência de variáveis duplicadas para um mesmo usuário, e adiciona de forma automática um número único ao final das mesmas sempre que isto ocorrer (como em {leve123|moderada123|acentuada123}, por exemplo), evitando conflitos.</p>

            <h1 id="comunidade">Comunidade</h1>
            <p>O aplicativo possui forte espírito comunitário, uma vez que as máscaras, alterações e
            variáveis são compartilhadas pelos usuários. Ao criar uma nova máscara ou alteração, o
        usuário é deparado com outras máscaras e alterações criadas por outros radiologistas, podendo-se
        utilizar das mesmas ou inspirar-se nelas para a confecção das suas próprias máscaras e alterações
        personalizadas.</p>
        <br>

            <div style="text-align: center;" id="contato">

    <img id="contato_image" src="{% static 'masks/images/email.png' %}">
        <br>
        <a href="mailto:contato@masqs.com.br">contato@masqs.com.br</a>
        <br>
        <br>
        <a href="{% url 'termos' %}">Termos de uso</a>
        <br>
        <br>
                    <div style="text-align: center">
    <a href="javascript:history.back()">Voltar</a>
        <br>
        <br>

    </div>
    </div>

    </div>

</div>

        <div class="col-1">


</div>

</div>

</div>

{% endblock conteudo %}

