{% extends "masks/base.html" %}

{% load static %}

{% block css %}

    <link rel="stylesheet" type="text/css" href="{% static 'masks/css/mascara.css' %}">

{% endblock css %}


{% block conteudo %}

 <script>
    var mascarasJson = '{{ mascarasJson|escapejs }}';
    var topicosNormais = '{{ topicos_normais|escapejs }}';
 </script>

<script type="text/javascript" src="{% static 'masks/js/nova_mascara.js' %}"></script>
<script type="text/javascript" src="{% static 'masks/js/mascara.js' %}"></script>

<div id="mycontainer">

<div class="container-fluid">

<div class="row">

<div id="coluna_esquerda" class="col-6">

<h1> {{mascara.nome}} </h1>


<form action="{% url 'salvar_edicao' mascara.pk %}" method="post" id="formulario_nova_mascara">
{% csrf_token %}



<div class="form-group">
  <label style="font-size: 1.2rem;" for="exames">Exame: </label>
  <select class="form-control" name ="exames" id="exames">
    {% for exame in exames %}
      {% if exame == mascara.exame %}
        <option selected="selected" value={{ exame.pk }}>{{exame.descricao}}</option>
      {% else %}
          <option value={{ exame.pk }}>{{exame.descricao}}</option>

      {% endif %}
    {% endfor %}
  </select>
</div>

<div class="form-group">
  <label style="font-size: 1.2rem;" for="especialidades">Especialidade: </label>
  <select class="form-control" name ="especialidades" id="especialidades">
    {% for especialidade in especialidades %}
    {% if especialidade == mascara.especialidade %}
      <option selected="selected" value={{ especialidade.pk }}>{{especialidade.descricao}}</option>
    {% else %}
        <option value={{ especialidade.pk }}>{{especialidade.descricao}}</option>

    {% endif %}
    {% endfor %}
  </select>
</div>



<label style="font-size: 1.2rem;" for="nome_exame">Nome/descrição do exame: </label>
<input class="input_curto"  type="text" id="nome_exame" name="nome_exame" value="{{ mascara.nome }}">
<br>
<br>
<fieldset class="fieldset_nova_mascara">
    <legend class="legend_nova_mascara">Título</legend>
        <input placeholder="Título do exame no laudo" class="input_curto" type="text" id="titulo_exame" name="titulo_exame" value="{{ mascara.titulo }}">
</fieldset>
<br>

 <fieldset class="fieldset_nova_mascara">
    <legend class="legend_nova_mascara">Técnica</legend>
<input style="margin-bottom:5px;" placeholder="Título da ténica" class="input_curto" type="text" id="tecnica_header" name="tecnica_header" value="{{ mascara.tecnica_header }}">

     <br>

    <textarea rows="2" class="input_curto" placeholder="Descrição da técnica" type="text" id="tecnica" name="tecnica">{{ mascara.tecnica }}</textarea>
 </fieldset>
<br>

<fieldset class="fieldset_nova_mascara">
    <legend class="legend_nova_mascara">Relatório</legend>
<input style="margin-bottom:10px;" placeholder="Título do relatório" class="input_curto" type="text" id="relatorio_header" name="relatorio_header" value="{{ mascara.relatorio_header }}">

    <br>

<div id="lista_orgaos">

{% for topico_normal in topicos_normais %}
{% if topico_normal.orgao != "Nenhum órgão" and topico_normal.relatorio != "Nenhum órgão adicionado" %}

<div name="orgao_div">
    <div style="display: flex">
<input type="hidden" value="{{ topico_normal.pk }}" name="id_orgao">
<label name="orgaolabel">Órgão: </label>
<input style="flex: 2; margin-bottom: 5px;" type="text" name="orgao" value="{{ topico_normal.orgao }}">

<button name="botao_remover" style="margin-bottom:5px;" type="button" onclick="removerEntradaOrgao(this.id)" id="{{ forloop.counter0 }}">Remover</button>
    </div>


<textarea rows="3" class="paragrafo_mascara" id="text_area_orgao" name="relatorio_orgao" placeholder="Descrição normal do órgão">{{ topico_normal.relatorio }}</textarea>
<br name="orgaobr">
    </div>
    {% endif %}
{% endfor %}
<a href="javascript:adicionarEntradaOrgao()" id="adicionar_entrada_orgao">Novo órgão</a>

</div>

</fieldset>
    <br>

  <fieldset class="fieldset_nova_mascara">
    <legend class="legend_nova_mascara">Conclusão</legend>
    <input style="margin-bottom:5px;" class="input_curto" placeholder="Título da conclusão" type="text" id="conclusao_header" name="conclusao_header" value="{{ mascara.conclusao_header }}">

    <br>


<textarea rows="2" class="input_curto" placeholder="Descrição da conclusão" type="text" id="conclusao" name="conclusao" class="paragrafo_mascara">{{ mascara.conclusao }}</textarea>
     </fieldset>
      <br>

<div id="corpo_alteracao">

</div>

    {% if mascara.publica == True %}
        <input type="checkbox" id="mascara_publica" name="mascara_publica" checked/>
        <label for="mascara_publica">Máscara pública</label>

    {% else %}
        <input type="checkbox" id="mascara_publica" name="mascara_publica"/>
        <label for="mascara_publica">Máscara pública</label>
    {% endif %}
     <br>
    <br>


<div style="text-align: center;">
<input type="button" value="Salvar" id="salva_mudancas" onclick="adicionarAlteracoNaMascara()">
<input type="hidden" id="usuario_id_alteracao">
    <input type="hidden" id="flag_edicao">
        <input type="hidden" id="variaveis_originais_edicao">
</div>
<br>
    <br>

</form>


<!-- Tem o mesmo nome do id em topico_alterado html para aprofeitar funções
e evitar duplicidade de funções. Depois posso melhora isso aqui.-->






</div>

<div class="col-6">

  {% for topico_anormal in topicos_anormais %}
                        <div class="container-fluid" style="margin: 2px; padding: 2px;">
                    <div class="row">
                    <div class="col-6">

                        <a href="">{{ topico_anormal.nome }}</a>
                    </div>

                    <div class="col">
                        <div class="container-fluid">
                            <div class="row">
                                <div class="col-6">
                                   <form id="formulario_botao" method="get" action="{% url 'editar_alteracao' id_alteracao=topico_anormal.pk id_mascara=mascara.pk %}">
                                    <input class="botao_configuracao" type="submit" value="Editar" />
                                </form>
                                </div>

                                <div class="col-6">
                        <button class="botao_configuracao">Excluir</button>
                                    </div>


                         </div>
                            </div>
                    </div>
                        </div>
                                            <hr>

                </div>


  {% endfor %}

</div>

</div>

</div>

</div>

<script>
$(document).ready(function(){
    document.getElementById("variaveis_originais_edicao").setAttribute("value", obterVariaveisOriginaisDaEdicao().toString());

});
</script>




{% endblock conteudo %}





