{% extends "masks/base.html" %}

{% load static %}

{% block css %}

    <link rel="stylesheet" type="text/css" href="{% static 'masks/css/mascara.css' %}">

{% endblock css %}


{% block conteudo %}

 <script>
    var mascarasJson = '{{ mascarasJson|escapejs }}';
    var topicosNormais = '{{ topicos_normais|escapejs }}';
 </script>

<script type="text/javascript" src="{% static 'masks/js/nova_mascara.js' %}"></script>
<script type="text/javascript" src="{% static 'masks/js/mascara.js' %}"></script>
<script type="text/javascript" src="{% static 'masks/tinymce/js/tinymce/tinymce.min.js' %}"></script>


<script>

                tinymce.init({
        selector: '#relatorio_modal',
        plugins: "table",
          menubar: false,
        toolbar: "bold italic underline forecolor table",
          fontsize_formats: '11px 12px 14px 16px 18px 24px 36px 48px',
            branding: false,
              elementpath: false


      });


      tinymce.init({
        selector: '#conclusao_modal',
        plugins: "table",
          menubar: false,
        toolbar: "bold italic underline forecolor table",
          fontsize_formats: '11px 12px 14px 16px 18px 24px 36px 48px',
            branding: false,
              elementpath: false


      });


</script>



<div id="coluna_esquerda" style="padding: 1rem;">

<h1 style="color: #c96100;"> Editar Alteração </h1>


<form action="{% url 'salvar_alteracao' %}" method="post" id="formulario_alteracao">
{% csrf_token %}



<div class="form-group">
  <label for="exames">Tópico: </label>
  <select class="form-control" name ="exames" id="exames">
    {% for topico_normal in topicos_normais %}
      {% if topico_normal == topico_anormal.topico_normal %}
        <option selected="selected" value={{ topico_normal.pk }}>{{topico_normal.orgao}}</option>
      {% else %}
          <option value={{ topico_normal.pk }}>{{topico_normal.orgao}}</option>

      {% endif %}
    {% endfor %}
  </select>
</div>



<label for="nome_modal">Nome da alteração: </label>
<input class="entrada_modal" type="text" id="nome_modal" name="nome_modal" value="{{ topico_anormal.nome }}">
<br>
    <br>

<label for="relatorio_modal">Descrição da alteração: </label>
<input class="entrada_modal" type="text" id="relatorio_modal" name="relatorio_modal" value="{{ topico_anormal.relatorio }}">
<br>

<label for="conclusao_modal">Conclusão da alteração: </label>
<input class="entrada_modal" type="text" id="conclusao_modal" name="conclusao_modal" value="{{ topico_anormal.conclusao }}">
<br>

<input name="topico_id" type="hidden" id="topico_id" value="{{ topico_anormal.pk }}">




<input type="hidden" id="adicionar_no_atual" name="adicionar_no_atual" checked/>



<input type="hidden" id="adicionar_no_banco" name="adicionar_no_banco" checked/>


     {% for profile in profiles %}
        {% if profile.usuario == request.user and profile.is_premium %}
            {% if topico_anormal.publica == True %}
        <input type="checkbox" id="frase_publica" name="frase_publica" checked/>
        <label for="frase_publica">Frase pública</label>

    {% else %}
        <input type="checkbox" id="frase_publica" name="frase_publica"/>
        <label for="frase_publica">Frase pública</label>
    {% endif %}
        {% elif profile.usuario == request.user %}
            {% if topico_anormal.publica == True %}
        <input style="display: none;" type="checkbox" id="frase_publica" name="frase_publica" checked/>
        <label style="display: none;" for="frase_publica">Frase pública</label>

    {% else %}
        <input style="display: none;" type="checkbox" id="frase_publica" name="frase_publica"/>
        <label style="display: none;" for="frase_publica">Frase pública</label>
    {% endif %}
        {% endif %}
    {% endfor %}





<input type="hidden" id="usuario_id_alteracao">
    <input type="hidden" id="flag_edicao">

        <input type="hidden" id="variaveis_originais_edicao">

     <div id="corpo_variaveis">



                  </div>
    <input type="button" value="Salvar Alteração" id="salva_mudancas" onclick="adicionarAlteracoNaMascara()">



</form>

</div>

<script>
$(document).ready(function(){
    document.getElementById("variaveis_originais_edicao").setAttribute("value", obterVariaveisOriginaisDaEdicao().toString());

});
</script>


{% endblock conteudo %}





