{% extends "masks/base.html" %}

{% load static %}

{% block css %}

    <link rel="stylesheet" type="text/css" href="{% static 'masks/css/mascara.css' %}">

{% endblock css %}


{% block conteudo %}





 <script>
    var mascarasJson = '{{ mascarasJson|escapejs }}';
    var topicosNormais = '{{ topicos_normais|escapejs }}';
 </script>

<script type="text/javascript" src="{% static 'masks/js/nova_mascara.js' %}"></script>
<script type="text/javascript" src="{% static 'masks/js/mascara.js' %}"></script>


<script type="text/javascript" src="{% static 'masks/tinymce/js/tinymce/tinymce.min.js' %}"></script>



<div id="mycontainer">

<div class="container-fluid">

<div class="row">

<div id="coluna_esquerda" class="col-6" style="height: 90vh; overflow: auto;">

<h1 class="br"> {{mascara.nome}} </h1>


<form action="{% url 'salvar_edicao' mascara.pk %}" method="post" id="formulario_nova_mascara">
{% csrf_token %}



<div class="form-group">
  <label style="font-size: 1.2rem;" for="exames" class="label_laranja">Exame: </label>
  <select class="form-control" name ="exames" id="exames">
    {% for exame in exames %}
      {% if exame == mascara.exame %}
        <option selected="selected" value={{ exame.pk }}>{{exame.descricao}}</option>
      {% else %}
          <option value={{ exame.pk }}>{{exame.descricao}}</option>

      {% endif %}
    {% endfor %}
  </select>
</div>

<div class="form-group">
  <label style="font-size: 1.2rem;" for="especialidades" class="label_laranja">Especialidade: </label>
  <select class="form-control" name ="especialidades" id="especialidades">
    {% for especialidade in especialidades %}
    {% if especialidade == mascara.especialidade %}
      <option selected="selected" value={{ especialidade.pk }}>{{especialidade.descricao}}</option>
    {% else %}
        <option value={{ especialidade.pk }}>{{especialidade.descricao}}</option>

    {% endif %}
    {% endfor %}
  </select>
</div>



<label style="font-size: 1.2rem;" for="nome_exame" class="label_laranja">Nome/descrição do exame: </label>
<input class="input_curto"  type="text" id="nome_exame" name="nome_exame" value="{{ mascara.nome }}">
<br class="br">
<br class="br">
<fieldset class="fieldset_nova_mascara">
    <legend class="legend_nova_mascara label_laranja">Título</legend>
        <input style="width:100%" class="paragrafo_mascara" placeholder="Título do exame no laudo" class="input_curto" type="text" id="titulo_exame" name="titulo_exame" value="{{ mascara.titulo }}">
</fieldset>
<br class="br">



    <fieldset class="fieldset_nova_mascara">
    <legend class="legend_nova_mascara label_laranja">Indicação e/ou suspeita clínica:</legend>
        <input class="input_curto" placeholder="Descrição do cabeçalho" type="text" id="indicacoes_header" name="indicacoes_header" value="{{ mascara.indicacoes_header }}">
    <textarea rows="4" class="input_curto" placeholder="Coloque as indicações entre vírgulas. Deixe em branco para não mostrar Indicações e/ou suspeita clínica." type="text" id="indicacoes" name="indicacoes">{{ mascara.indicacoes }}</textarea>

    </fieldset>





     <br class="br">


 <fieldset class="fieldset_nova_mascara">
    <legend class="legend_nova_mascara label_laranja">Técnica</legend>
<input style="margin-bottom:5px;" placeholder="Título da ténica" class="input_curto" type="text" id="tecnica_header" name="tecnica_header" value="{{ mascara.tecnica_header }}">

     <br class="br">

    <textarea style="visibility: hidden; max-height: 0;" class="paragrafo_mascara" rows="2" class="input_curto" placeholder="Descrição da técnica" type="text" id="tecnica" name="tecnica">{{ mascara.tecnica }}</textarea>
 </fieldset>
<br class="br">

<fieldset class="fieldset_nova_mascara">
    <legend class="legend_nova_mascara label_laranja">Relatório</legend>
<input style="margin-bottom:10px;" placeholder="Título do relatório" class="input_curto" type="text" id="relatorio_header" name="relatorio_header" value="{{ mascara.relatorio_header }}">

    <br class="br">

<div id="lista_orgaos">

{% for topico_normal in topicos_normais %}
{% if topico_normal.orgao != "Nenhum órgão"%}

<div name="orgao_div">
    <div style="display: flex">
<label name="orgaolabel">Tópico: </label>
<input style="flex: 2; margin-bottom: 5px;" type="text" name="orgao" value="{{ topico_normal.orgao }}">
<input type="hidden" value="{{ topico_normal.pk }}" name="id_orgao">

<button class="botao_remover" name="botao_remover" style="margin-bottom:5px;" type="button" onclick="removerEntradaOrgao(this.id)" id="{{ forloop.counter0 }}">Remover</button>
    </div>

    <div name="opcoesJames">
<input type="checkbox" id="bullet{{ topico_normal.pk }}" onclick="clicouBullet(this.id)">
    <label for="bullet{{ topico_normal.pk }}">Bullet</label>

    <input type="checkbox" id="espaco{{ topico_normal.pk }}" onclick="clicouEspaco(this.id)">
    <label for="espaco{{ topico_normal.pk }}">Espaço</label>

    <input type="checkbox" id="italico{{ topico_normal.pk }}" onclick="clicouItalico(this.id)">
    <label for="italico{{ topico_normal.pk }}">Itálico</label>
</div>
{% autoescape off %}

    <textarea style="visibility: hidden; max-height: 0;" rows="3" class="paragrafo_mascara" id="text_area_orgao{{ forloop.counter }}" name="relatorio_orgao" placeholder="Descrição normal do tópico">{{ topico_normal.relatorio }}</textarea>
{% endautoescape %}
    <button class="botao_novo_topico" type="button" onclick="adicionarEntradaOrgao(this.id)" id="adicionar_entrada_orgao{{ forloop.counter }}">Novo tópico</button>


    </div>
    {% else %}
    <div style="display: none;" name="orgao_div">
    <div style="display: flex">
<label name="orgaolabel">Tópico: </label>
<input style="flex: 2; margin-bottom: 5px;" type="text" name="orgao" value="{{ topico_normal.orgao }}">
<input type="hidden" value="{{ topico_normal.pk }}" name="id_orgao" id="h{{ topico_normal.pk }}">

<button  name="botao_remover" style="margin-bottom:5px;" type="button" onclick="removerEntradaOrgao(this.id)" id="{{ forloop.counter0 }}">Remover</button>
    </div>


            <div name="opcoesJames">
<input type="checkbox" id="bullet{{ topico_normal.pk }}" onclick="clicouBullet(this.id)">
    <label for="bullet{{ topico_normal.pk }}">Bullet</label>

    <input type="checkbox" id="espaco{{ topico_normal.pk }}" onclick="clicouEspaco(this.id)">
    <label for="espaco{{ topico_normal.pk }}">Espaço</label>

    <input type="checkbox" id="italico{{ topico_normal.pk }}" onclick="clicouItalico(this.id)">
    <label for="italico{{ topico_normal.pk }}">Itálico</label>
</div>
{% autoescape off %}
<textarea style="visibility: hidden; max-height: 0;" rows="3" class="paragrafo_mascara" id="text_area_orgao{{ forloop.counter }}" name="relatorio_orgao" placeholder="Descrição normal do tópico">{{ topico_normal.relatorio }}</textarea>
{% endautoescape %}
<br name="orgaobr">
    </div>

    {% endif %}

    <script>
        tinymce.init({
            body_name: "my_id",
    forced_root_block: false,
        language: 'pt_BR',

        selector: '#text_area_orgao' + {{ forloop.counter }},
        plugins: "table paste lists",
        paste_as_text: true,
          menubar: false,
        toolbar: "bold italic underline forecolor table bullist",
          fontsize_formats: '11px 12px 14px 16px 18px 24px 36px 48px',
            branding: false,
              elementpath: false



      });



</script>

{% endfor %}

    <script>


                          tinymce.init({
        selector: '#info_adicional',
            forced_root_block: false,
                language: 'pt_BR',

        plugins: "table paste lists",
        paste_as_text: true,
          menubar: false,
        toolbar: "bold italic underline forecolor table",
          fontsize_formats: '11px 12px 14px 16px 18px 24px 36px 48px',
            branding: false,
              elementpath: false


      });



                          tinymce.init({
        selector: '#tecnica',
            forced_root_block: false,
                language: 'pt_BR',

        plugins: "table paste lists",
        paste_as_text: true,
          menubar: false,
        toolbar: "bold italic underline forecolor table bullist",
          fontsize_formats: '11px 12px 14px 16px 18px 24px 36px 48px',
            branding: false,
              elementpath: false


      });

        tinymce.init({
        selector: '#conclusao',
            language: 'pt_BR',

        plugins: "table paste lists",
        paste_as_text: true,
            forced_root_block: false,
          menubar: false,
        toolbar: "bold italic underline forecolor table bullist",
          fontsize_formats: '11px 12px 14px 16px 18px 24px 36px 48px',
            branding: false,
              elementpath: false


      });

    </script>


</div>

</fieldset>
    <br>

  <fieldset class="fieldset_nova_mascara">
    <legend class="legend_nova_mascara label_laranja">Conclusão</legend>
    <input style="margin-bottom:5px;" class="input_curto" placeholder="Título da conclusão" type="text" id="conclusao_header" name="conclusao_header" value="{{ mascara.conclusao_header }}">

    <br class="br">


<textarea style="visibility: hidden; max-height: 0;" class="paragrafo_mascara" rows="2" class="input_curto" placeholder="Descrição da conclusão" type="text" id="conclusao" name="conclusao">{{ mascara.conclusao }}</textarea>
     </fieldset>
      <br class="br">

            <fieldset class="fieldset_nova_mascara">
    <legend class="legend_nova_mascara label_laranja">Informações adicionais</legend>
<textarea style="visibility: hidden; max-height: 0;" rows="4" class="input_curto" placeholder="Observações, referências, etc." type="text" id="info_adicional" name="info_adicional">{{ mascara.info_adicional }}</textarea>

        </fieldset>
    <br class="br">

<div id="corpo_alteracao">

</div>


    {% for profile in profiles %}
    {% if profile.usuario == request.user and profile.is_premium %}
        {% if mascara.publica == True %}
        <input type="checkbox" id="mascara_publica" name="mascara_publica" checked/>
        <label for="mascara_publica">Máscara pública</label>

        {% else %}
            <input type="checkbox" id="mascara_publica" name="mascara_publica"/>
            <label for="mascara_publica">Máscara pública</label>
        {% endif %}
    {% elif profile.usuario == request.user %}
        {% if mascara.publica == True %}
        <input style="display: none;" type="checkbox" id="mascara_publica" name="mascara_publica" checked/>
        <label style="display: none;" for="mascara_publica">Máscara pública</label>

        {% else %}
            <input style="display: none;" type="checkbox" id="mascara_publica" name="mascara_publica"/>
            <label style="display: none;" for="mascara_publica">Máscara pública</label>
        {% endif %}
    {% endif %}
{% endfor %}




     <br class="br">
    <br class="br">


<div style="text-align: center;">
<input class="btn btn-secondary" type="button" value="Salvar" id="salva_mudancas" onclick="adicionarAlteracoNaMascara()">
<input type="hidden" id="usuario_id_alteracao" value="{{ request.user.pk }}">
    <input type="hidden" id="flag_edicao">
        <input type="hidden" id="variaveis_originais_edicao">
            <input type="hidden" id="clicou_remover" name="clicou_remover" value="0">


</div>
<br class="br">
    <br class="br">

</form>




<!-- Tem o mesmo nome do id em topico_alterado html para aprofeitar funções
e evitar duplicidade de funções. Depois posso melhora isso aqui.-->






</div>

        <input type="hidden" name="mascara_topicos" id="mascara_topicos" value="{{ profile.mascara_topicos }}">


<div id="coluna_mascaras" class="col-6" style="padding-top: 1rem; height: 90vh; overflow: auto;">
    <div style="text-align:center; margin-bottom: 25px; color: #c96100;"><h3>Alterações</h3>
</div>
        <input style="width: 100%; margin-bottom: 1rem;" autocomplete="off" id="procurarFrases" type="search" placeholder="Procurar alterações" onkeyup="procurarAlteracoes()" onsearch="procurarAlteracoes()"/>
  {% for topico_anormal in topicos_anormais %}
                        <div class="container-fluid" style="margin: 2px; padding: 2px;">
                    <div class="row" >
                    <div class="col-6">

                        <span class="link_alteracao" id="link_topico_anormal" href="#">{{ topico_anormal.nome }}</span>
                    </div>

                    <div class="col">
                        <div class="container-fluid">
                            <div class="row">
                                <div class="col-6">
                                   <form id="formulario_botao" method="get" action="{% url 'editar_alteracao' id_alteracao=topico_anormal.pk id_mascara=mascara.pk %}">
                                    <input class="botao_configuracao" type="submit" value="Editar" />
                                </form>
                                </div>

                            <div class="col-6">
                                   <form method="get" action="{% url 'excluir_alteracao' id_alteracao=topico_anormal.pk %}">
                                    <input id="{{ topico_anormal.pk }}" class="botao_configuracao" type="submit" value="Excluir" onclick="clicouExcluir(this.id)"/>
                                </form>
                                </div>


                         </div>
                            </div>
                    </div>
                        </div>
                                            <hr>

                </div>


  {% endfor %}

</div>

</div>

</div>

</div>

<script>
$(document).ready(function(){
    document.getElementById("variaveis_originais_edicao").setAttribute("value", obterVariaveisOriginaisDaEdicao().toString());
});
</script>



{% endblock conteudo %}





