<!DOCTYPE html>
<html lang="en">
<head>
            <title>{{ titulo }}</title>

    <meta charset="UTF-8">

</head>
    <body>
        <h1 style="text-align: center; color: #c96100;">Masqs</h1>
        <br>
        <h2 style="color: #000000;">Você solicitou alteração da sua senha, <span style="color: #c96100;">{{ nomeusuario }}</span></h2><br>
        <h2 style="color: #000000;">Por favor, <a style="color: #c96100;" href="{{ link }}">clique aqui</a> para digitar sua nova senha</h2>
        <br>
        <p style="color: #000000;">Este é um email automático. Não é necessário respondê-lo. Caso não tenha sido você que fez a solicitação, não clique no link, apenas ignore-o.</p>
    </body>
</html>