<!DOCTYPE html>
<html lang="en">
<head>
            <title>{{ titulo }}</title>

    <meta charset="UTF-8">
    <style>
        h1{ color: #c96100; }
        span{ color: #c96100; }
        a{ color: #c96100; }
        a:hover{ color: #c96100; }
        body{ padding: 15px;}


    </style>
</head>
    <body>
        <h1 style="text-align: center">masqs.com.br</h1>
        <br>
        <h2>Você está quase lá, <span style="color: #c96100;">{{ nomeusuario }}</span></h2><br>
        <h2>Por favor, <a href="{{ link }}">clique aqui</a> para confirmar seu cadastro</h2>
        <br>
        <p>Este é um email automático. Não é necessário respondê-lo. Caso não tenha sido você que fez a solicitação, não clique no link, apenas ignore-o.</p>
    </body>
</html>