<html>
<head>
    <title>{{ titulo }}</title>
 {% load static %}
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css" integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk" crossorigin="anonymous">

<link rel="stylesheet" type="text/css" href="{% static 'masks/css/index.css' %}">

<script type="text/javascript" src="{% static 'masks/js/index.js' %}"></script>
 <!-- Depois tem que colocar isso nos seus htmls certos.-->
        <script>
            var usuarios = '{{ usuarios|escapejs }}';

        </script>

</head>
<body>

<form id="form_login" action="{% url 'login_usuario' %}" method="post">
{% csrf_token %}

<input id=usuario_login type="text" placeholder="Usuário" name="usuario" autofocus><br><br>
<input id=senha_login type="password" placeholder="Senha" name="senha"><br><br>
<input id="botao_entrar" type="submit" value="Entrar">
    <br>
    <br>
<a data-target="#modalCadastro" data-toggle="modal" href="#modalCadastro">Não possui cadastro?</a>
<a href="{% url 'resetar_password' %}">Esqueceu sua senha?</a>
<br>
    <br>
<a href="{% url 'quemsomos' %}">Quem somos?</a>



</form>

    <!-- Modal de Cadastro-->
    <div class="modal fade" id="modalCadastro" tabindex="-1" role="dialog" aria-labelledby="modalCadastroTitle" aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
              <div class="modal-body">
                  <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                  <span aria-hidden="true">&times;</span>
                </button>
                  <h5 id="novo_cadastro_title">Novo Cadastro</h5>
                  <div id="cadastro_div">
                  <form id="formulario_cadastro" action="{% url 'cadastrar' %}" method="post">
                    {% csrf_token %}
                        <div id="usuario_div">
                        <label for="usuario">Usuário: </label>
                        <input type="text" name="usuario" id="usuario" class="cadastro_input">
                            </div>

                        <div id="primeiro_nome_div">
                        <label for="primeiro_nome">Primeiro Nome: </label>
                        <input type="text" name="primeiro_nome" id="primeiro_nome" class="cadastro_input">
                        </div>

                      <div id="sobrenome_div">
                        <label for="sobrenome">Sobrenome: </label>

                        <input type="text" name="segundo_nome" id="sobrenome" class="cadastro_input">
                        </div>

                      <div id="email_div">
                        <label for="email">Email: </label>

                        <input type="email" name="email" id="email" class="cadastro_input">
                        </div>


                      <div id="senha_div">
                        <label for="senha">Senha: </label>
                        <input type="password" name="senha" id="senha" class="cadastro_input">
                        </div>

                         <div id="repetir_senha_div">
                        <label for="repetir_senha">Repetir Senha: </label>
                        <input type="password" name="repetir_senha" id="repetir_senha" class="cadastro_input">
                        </div>

                      <div id="botao_cadastro_div">
                        <input type="button" value="Cadastrar" id="botao_cadastrar" onclick="clicouCadastrar()">
                        </div>
                    </form>
                </div>
              </div>

            </div>
        </div>


    </div>

<!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/js/bootstrap.min.js" integrity="sha384-OgVRvuATP1z7JjHLkuOU7Xw704+h835Lr+6QL9UvYjZE3Ipu6Tp75j7Bh/kR0JKI" crossorigin="anonymous"></script>


</body>
</html>