{% extends "masks/base.html" %}


{% block mascara %}



<h1> {{ mascara.titulo }} </h1>
<h2> {{ mascara.tecnica_header }} </h2>
<p> {{mascara.tecnica }} </p>
<h2> {{ mascara.relatorio_header }} </h2>

{% for topico in topicos_normais %}
    <p id="{{ topico.pk}}" > {{ topico.relatorio|linebreaksbr }}</p>
{% endfor %}


<h2> {{ mascara.conclusao_header }} </h2>
<p id="conclusao_normal"> {{ mascara.conclusao }} </p>



    <!--Seta ids únicos para os botões poderem ser reconhecidos e possibiliar abrir Modals com htmls diferentes.
    No primeiro loop são setados os ids dos topicos normais nos bancos de dados e no segundo loop o nome dos arquivos
    html em templates/diagnosticos que também são colocados no banco de dados na entrada template_name em TopicoAnormalBuilders-->
    <h4>Diagnósticos:</h4>
    {% for topicoanormal in topicos_anormais %}
        {% if topicoanormal.topico_normal.mascara == mascara %}
            <button name="{{ topicoanormal.topico_normal.pk }}" type="button" class="btn btn-primary" id={{ topicoanormal.pk }} onclick="alterarDiagnosticoDireto(this.name, this.id)">{{ topicoanormal.nome }}</button>
        {% endif %}
    {% endfor %}


    {% for topicoanormalbuilder in topicos_anormais_builders %}
        {% if topicoanormalbuilder.topico_normal.mascara == mascara %}
            <button name="{{ topicoanormalbuilder.topico_normal.pk }}" type="button" class="btn btn-primary" data-toggle="modal" data-target="#myModal" id={{ topicoanormalbuilder.template_name }}>{{ topicoanormalbuilder.nome }}</button>
        {% endif %}
    {% endfor %}



    <!-- Modal -->
    <div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLongTitle" aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
              <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLongTitle">Modal title</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                  <span aria-hidden="true">&times;</span>
                </button>
              </div>
              <div class="modal-body">
                  <div id="template_name"></div>

              </div>
              <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                <button id = "save_changes" type="button" class="btn btn-primary" onclick="alterarDiagnosticoModal()">Save changes</button>
              </div>
            </div>
        </div>


    </div>




<!-- Script para mapear os botões/diagnósticos e abrir o template para preencher o modal adequadamente. Os templates
    deverão ficar na pasta diagnósticos e um template_name deve existir para cada TopicoAlterado.-->
    <!-- setAttribute name coloca o id do topico normal a ser alterado no name do botal savechanges,
     para poder alterar o tópico correto depois.-->
<script>

 $('#myModal').on('show.bs.modal', function (e) {
              var button = e.relatedTarget;
              document.getElementById("template_name").setAttribute("w3-include-html", "../diagnosticos/" + button.id);
              document.getElementById("save_changes").setAttribute("name", button.name);

              includeHTML();
        })
</script>

    {% endblock mascara %}

