{% extends "masks/base.html" %}


{% block css %}

    {% load static %}

    <link rel="stylesheet" type="text/css" href="{% static 'masks/css/mascara.css' %}">


{% endblock css %}


{% block conteudo %}


<script type="text/javascript" src="{% static 'masks/js/mascaras.js' %}"></script>

<script>

        if(document.getElementById(window.location.href.substring(window.location.href.lastIndexOf('/') + 1)) != null) {
            document.getElementById(window.location.href.substring(window.location.href.lastIndexOf('/') + 1)).style.color = "#c96100";

    }


</script>


<div id="containermascaras">

<div class="container-fluid">

<div class="row">




<div class="col-8" style="padding: 0px; padding-left: 15px;">

{% if mascaras %}
    <div class="form-group">
  <select class="form-control" name ="exames" id="exames" onchange="tornarExamesInvisiveis()">
    <option value="todos">Todos</option>

    {% for exame in exames %}
      <option value={{ exame.pk }}>{{exame.descricao}}</option>
    {% endfor %}
  </select>
</div>
{% else %}
<br>
<h3>Seja bem vindo(a), {{ request.user.first_name }}. Ao utilizar nosso website você concorda com nossos <a style="color: #c96100" href="{% url 'termos' %}">termos de uso</a>.</h3>
<br>
    <h3><a style="color: #c96100" href="{% url 'nova_mascara' %}">Clique aqui</a> para adicionar sua primeira máscara. </h3>
    <br>
{% endif %}







<div class="list-group">


  <div id="accordion">

 {% for especialidade in especialidades %}
    <div class="card">
      <div class="card-header" id={{ especialidade.pk }}>
        <h5 class="mb-0">


              <button onclick="clicouAba(this)" class="btn btn-link" data-toggle="collapse" data-target="#collapse{{ especialidade.pk }}" aria-expanded="true" aria-controls="collapse{{ especialidade.pk }}">
                {{ especialidade.descricao }}
              </button>
            </h5>
          </div>

          <div id="collapse{{ especialidade.pk }}" class="collapse" aria-labelledby={{ especialidade.pk }} data-parent="#accordion">


                {% for mascara in mascaras %}
                {% if mascara.especialidade == especialidade %}
              <div class="card-body">

              <div class="list-group">
                <a href="{% url 'mostrar_mascara' id_mascara=mascara.pk %}" class="list-group-item list-group-item-action" name="{{ mascara.exame.pk }}">{{ mascara.nome }}</a>
                </div>

            </div>
                  {% endif %}
                {% endfor %}



          </div>
        </div>
        {% endfor %}

  </div>





</div>



</div>




<div class="col-4">

    <div class="box_mascaras" id="ultimas_utilizadas_div">

        <div class="header_box_mascaras">
        Últimas utilizadas

        </div>
        <div style="padding: .5rem;">
        {% for mascara in ultimas_mascaras %}

        <a class="link_mascara_box" href="{% url 'mostrar_mascara' id_mascara=mascara.pk %}" name="{{ mascara.exame.pk }}">{{ mascara.nome }}</a><br>

        {% endfor %}
        </div>

    </div>



    <div class="box_mascaras" id="mais_utilizadas_div">
        <div class="header_box_mascaras">
            Mais utilizadas

        </div>
        <div style="padding: .5rem;">
        {% for mascara in mascaras_populares %}
        <a class="link_mascara_box" href="{% url 'mostrar_mascara' id_mascara=mascara.pk %}" name="{{ mascara.exame.pk }}">{{ mascara.nome }}</a><br>

        {% endfor %}
        </div>
    </div>

</div>






  </div>

  </div>




</div>



{% endblock conteudo %}

