{% extends "masks/base.html" %}

{% block css %}

    {% load static %}

    <link rel="stylesheet" type="text/css" href="{% static 'masks/css/mascara.css' %}">

{% endblock css %}


{% block conteudo %}

<script type="text/javascript" src="{% static 'masks/js/mascaras.js' %}"></script>

<div id="containermascaras">

<div class="container-fluid">

<div class="row">

<div class="col-2">


</div>


<div class="col-8">

<div class="form-group">
  <select class="form-control" name ="exames" id="exames" onchange="tornarExamesInvisiveis()">
    <option value="todos">Todos</option>

    {% for exame in exames %}
      <option value={{ exame.pk }}>{{exame.descricao}}</option>
    {% endfor %}
  </select>
</div>





<div class="list-group">


  <div id="accordion">

 {% for especialidade in especialidades %}
    <div class="card">
      <div class="card-header" id={{ especialidade.pk }}>
        <h5 class="mb-0">


              <button class="btn btn-link" data-toggle="collapse" data-target="#collapse{{ especialidade.pk }}" aria-expanded="true" aria-controls="collapse{{ especialidade.pk }}">
                {{ especialidade.descricao }}
              </button>
            </h5>
          </div>

          <div id="collapse{{ especialidade.pk }}" class="collapse show" aria-labelledby={{ especialidade.pk }} data-parent="#accordion">
            <div class="card-body">

              <div class="list-group">

                {% for mascara in mascaras %}
                {% if mascara.especialidade == especialidade %}
                <a href="{% url 'mostrar_mascara' id_mascara=mascara.pk %}" class="list-group-item list-group-item-action" name="{{ mascara.exame.pk }}">{{ mascara.nome }}</a>
                {% endif %}
                {% endfor %}


              </div>

            </div>
          </div>
        </div>
        {% endfor %}

  </div>





</div>



</div>




<div class="col-2">


</div>






  </div>

  </div>




</div>



{% endblock conteudo %}

