{% extends "masks/base.html" %}

{% load static %}

{% block css %}

    <link rel="stylesheet" type="text/css" href="{% static 'masks/css/mascara.css' %}">

{% endblock css %}


{% block conteudo %}

 <script>
    var mascarasJson = '{{ mascarasJson|escapejs }}';
    var topicosNormais = '{{ topicos_normais|escapejs }}';
 </script>

<script type="text/javascript" src="{% static 'masks/js/nova_mascara.js' %}"></script>
<script type="text/javascript" src="{% static 'masks/js/mascara.js' %}"></script>

<script type="text/javascript" src="{% static 'masks/tinymce/js/tinymce/tinymce.min.js' %}"></script>

<script>
      tinymce.init({
        selector: '#text_area_orgao',
        plugins: "table",
          menubar: false,
        toolbar: "bold italic underline forecolor table",
          fontsize_formats: '11px 12px 14px 16px 18px 24px 36px 48px',
            branding: false,
              elementpath: false


      });

            tinymce.init({
        selector: '#tecnica',
        plugins: "table",
          menubar: false,
        toolbar: "bold italic underline forecolor table",
          fontsize_formats: '11px 12px 14px 16px 18px 24px 36px 48px',
            branding: false,
              elementpath: false


      });


      tinymce.init({
        selector: '#conclusao',
        plugins: "table",
          menubar: false,
        toolbar: "bold italic underline forecolor table",
          fontsize_formats: '11px 12px 14px 16px 18px 24px 36px 48px',
            branding: false,
              elementpath: false


      });
</script>

<div id="mycontainer">

<div class="container-fluid">

<div class="row">

<div id="coluna_esquerda" class="col-6">

<h2 style="text-align: center;"> Nova Máscara </h2>


<form action="{% url 'adicionar_nova_mascara' %}" method="post" id="formulario_nova_mascara">
{% csrf_token %}



<div class="form-group">
  <label style="font-size: 1.2rem;" for="exames">Exame: </label>
  <select class="form-control" name ="exames" id="exames">
    {% for exame in exames %}
      <option value={{ exame.pk }}>{{exame.descricao}}</option>
    {% endfor %}
  </select>
</div>

<div class="form-group">
  <label style="font-size: 1.2rem;" for="especialidades">Especialidade: </label>
  <select class="form-control" name ="especialidades" id="especialidades">
    {% for especialidade in especialidades %}
      <option value={{ especialidade.pk }}>{{especialidade.descricao}}</option>
    {% endfor %}
  </select>
</div>



<label style="font-size: 1.2rem;" for="nome_exame">Nome/descrição do exame: </label>
<input class="input_curto" type="text" id="nome_exame" name="nome_exame">
<br>
    <br>


<fieldset class="fieldset_nova_mascara">
    <legend class="legend_nova_mascara">Título</legend>
        <input class="paragrafo_mascara" placeholder="Título do exame no laudo" type="text" id="titulo_exame" name="titulo_exame">
</fieldset>
    <br>


 <fieldset class="fieldset_nova_mascara">
    <legend class="legend_nova_mascara">Técnica</legend>
<input style="margin-bottom:5px;" placeholder="Título da ténica" class="input_curto" type="text" id="tecnica_header" name="tecnica_header">

     <br>

    <textarea class="paragrafo_mascara" rows="2" class="input_curto" placeholder="Descrição da técnica" type="text" id="tecnica" name="tecnica"></textarea>
 </fieldset>
     <br>


 <fieldset class="fieldset_nova_mascara">
    <legend class="legend_nova_mascara">Relatório</legend>
<input style="margin-bottom:10px;" placeholder="Título do relatório" class="input_curto" type="text" id="relatorio_header" name="relatorio_header">

     <br>


<div id="lista_orgaos">


<div name="orgao_div">
<div style="display: flex">
<label name="orgaolabel">Órgão: </label>
<input style="flex: 2; margin-bottom: 5px;" type="text" name="orgao">

<button name="botao_remover" style="margin-bottom:5px;" type="button" onclick="removerEntradaOrgao(this.id)" id="0">Remover</button>
</div>

<textarea rows="3" class="paragrafo_mascara" id="text_area_orgao" name="relatorio_orgao" placeholder="Descrição normal do órgão"></textarea>
<br name="orgaobr">
    </div>

<a href="javascript:adicionarEntradaOrgao()" id="adicionar_entrada_orgao">Novo órgão</a>

</div>

 </fieldset>
<br>

    <fieldset class="fieldset_nova_mascara">
    <legend class="legend_nova_mascara">Conclusão</legend>
    <input style="margin-bottom:5px;" class="input_curto" placeholder="Título da conclusão" type="text" id="conclusao_header" name="conclusao_header">

        <br>


<textarea class="paragrafo_mascara" rows="2" class="input_curto" placeholder="Descrição da conclusão" type="text" id="conclusao" name="conclusao" class="paragrafo_mascara"></textarea>
     </fieldset>
         <br>

<div id="corpo_alteracao">

</div>
{% for profile in profiles %}
    {% if profile.usuario == request.user and profile.is_premium %}
       <input type="checkbox" id="mascara_publica" name="mascara_publica" checked/>
        <label for="mascara_publica">Máscara pública</label>
    {% else %}
        <input style="display: none;" type="checkbox" id="mascara_publica" name="mascara_publica" checked/>
        <label style="display: none;" for="mascara_publica">Máscara pública</label>
    {% endif %}
{% endfor %}

<br>
    <br>
<div style="text-align: center;">
<input type="button" value="Adicionar" id="salva_mudancas" onclick="adicionarAlteracoNaMascara()">
<input type="hidden" id="usuario_id_alteracao">
<input type="hidden" id="mascara_aproveitada" name="mascara_aproveitada">
                <input type="hidden" id="clicou_remover" name="clicou_remover" value="0">

    </div>
    <br>
    <br>

</form>


<!-- Tem o mesmo nome do id em topico_alterado html para aprofeitar funções
e evitar duplicidade de funções. Depois posso melhora isso aqui.-->






</div>

<div class="col-6">

  {% for mascara in mascaras %}
    {% if mascara.usuario != request.user %}
            <button type="button" class="botao_diagnostico" id="{{ mascara.pk }}" onclick="popularMascara(this.id)">"{{ mascara.nome }} ({{ mascara.usuario.username }})"</button>
    {% endif %}
  {% endfor %}

</div>

</div>

</div>

</div>

{% endblock conteudo %}
