{% extends "masks/base.html" %}

{% block css %}

    {% load static %}

    <link rel="stylesheet" type="text/css" href="{% static 'masks/css/mascara.css' %}">

{% endblock css %}


{% block conteudo %}
<script>
    document.getElementById("barra_navegacao").style.display = "none";
        document.getElementById("form_username").style.display = "none";


</script>
<br>
<br>
<br>
<h3 style="text-align: center;">Digite seu endereço de email:</h3>
<br>
<form action="{% url 'link_reset' %}" method="post" style="text-align: center;">
    {% csrf_token %}

<input style="width: 15rem;" type="email" placeholder="Endereço de email" id="email" name="email">
<button type="submit">Resetar senha</button>

</form>

<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
{% endblock conteudo %}