{% extends "masks/base.html" %}

{% block css %}

    {% load static %}
        <link rel="stylesheet" type="text/css" href="{% static 'masks/css/sobre.css' %}">



{% endblock css %}


{% block conteudo %}
<script>

        if(document.getElementById(window.location.href.substring(window.location.href.lastIndexOf('/') + 1)) != null) {
            document.getElementById(window.location.href.substring(window.location.href.lastIndexOf('/') + 1)).style.color = "#c96100";

    }


</script>

<div class="container-fluid">

<div class="row">






<div class="col-12">

    <div id="info">
            <br>
           <h4 style="text-align: center;">CONTRATO DE LICENÇA DE USUÁRIO FINAL ("EULA")</h4>
        <br>
        <p>Agradecemos o seu interesse na utilização dos nossos produtos e serviços. Por favor,
        leia atentamente este contrato de licença de usuário final (o "EULA") antes de utilizar o website hospedado no domínio www.masqs.com.br (o "SOFTWARE").
        Ao utilizar o SOFTWARE, você (o "USUÁRIO") concorda com os temos e condições deste
        contrato.</p>
        <h6>1. TERMOS DE USO DO SOFTWARE</h6>
        <p>1.1 Ao utilizar o SOFTWARE, mesmo que parcial ou a título de teste, o
        USUÁRIO estará vinculado aos termos deste EULA, concordando com os mesmos.
        Em caso de discordância dos termos aqui apresentados, a utilização do
        SOFTWARE deve ser imediatamente interrompida.</p>
        <p>1.2 O USUÁRIO declara-se ciente de que para acessar os produtos e serviços
        do SOFTWARE, deverá efetuar cadastro no site www.masqs.com.br, informando um
        login (nome de usuário) e senha, que são de uso pessoal e intransferíveis, sendo de total
        responsabilidade do USUÁRIO manter sigilo absoluto sobre estes dados e não
        compartilhá-los com terceiros. O USUÁRIO assume plena responsabilidade por
        todas interações realizadas com o SOFTWARE utilizando o seu login (nome de usuário).</p>
        <p>1.3 O SOFTWARE é distribuído sem quaisquer garantias, podendo ser
        modificado ou descontinuado (temporariamente ou permanentemente) a qualquer momento, sem
            aviso prévio ao USUÁRIO. O USUÁRIO não poderá responsabilizar o
        SOFTWARE nem seus desenvolvedores por quaisquer modificações, suspensões ou
            descontinuidade dos serviços. O SOFTWARE e seus desenvolvedores isentam-se expressamente de quaisquer responsabilidades e indenizações, perdas e danos, lucros cessantes, prejuízos de qualquer natureza, decorrentes da utilização, inadequada ou não, do SOFTWARE, bem como da suspensão ou descontinuidade dos seus serviços
        </p>
        <p>1.4 Os termos deste contrato podem ser modificados, seja incluindo, removendo
        ou alterando quaisquer de suas cláusulas, a critério dos desenvolvedores do
        SOFTWARE, com aviso prévio ao USUÁRIO. Tais modificações terão efeito imediato e,
        ao continuar utilizando o SOFTWARE, o USUÁRIO aceita e concorda com os termos
        modificados.</p>
              <h6>2. CONTEÚDO COMPARTILHADO</h6>
        <p>2.1 Ao utilizar o SOFTWARE, o USUÁRIO poderá inserir dados e informações (máscaras, alterações e
        variáveis) que ficam vinculados ao seu login (nome de usuário) e são de livre acesso aos outros usuários cadastrados no SOFTWARE. Ao utilizar o SOFTWARE, o USUÁRIO concorda e aceita compartilhar suas informações não pessoais inseridas (máscaras, alterações e variáveis) com os outros usuários do SOFTWARE.</p>
        <p>2.2 O USUÁRIO é inteiramente responsável pelas informações inseridas
        no SOFTWARE. Também é de total responsabilidade do USUÁRIO a forma como ele utiliza essas
            informações bem como as informações compartilhadas por outros usuários do SOFTWARE.</p>
        <p>2.3 Os desenvolvedores do SOFTWARE não se responsabilizam pela forma como o USUÁRIO utiliza o
        sistema, isentando-se de quaisquer responsabilidades e indenizações, perdas e danos, lucros cessantes, prejuízos de qualquer natureza, decorrentes da utilização, inadequada ou não, do SOFTWARE.

</p>

        <p>2.4 O SOFTWARE é distribuído sem quaisquer garantias. O USUÁRIO não
        poderá responsabilizar o SOFTWARE nem seus desenvolvedores por eventuais
        perdas de informações e dados por ele inseridos, falhas de funcionamento, inoperância do sistema ou descontinuidade dos serviços oferecidos. É de total responsabilidade do USUÁRIO possuir um backup das informações por ele inseridas, estando o SOFTWARE isento desta responsabilidade.</p>
        <p>2.5 O acesso do USUÁRIO ao SOFTWARE poderá ser suspenso a qualquer
        momento, sem aviso prévio, caso haja violação ou desrespeito às
            regras deste EULA ou legislação vigente, por parte do USUÁRIO.</p>
        <h6>3. POLÍTICA DE COOKIES</h6>
        <p>3.1 Para otimizar a experiência do USUÁRIO durante a navegação no site, fazemos
        uso de cookies. Ao utilizar o SOFTWARE, consideramos que o USUÁRIO está de acordo
        com nossa política de cookies.</p>
        <p>3.2 Os cookies são pequenos arquivos de texto que um site, quando visitado, coloca no computador do USUÁRIO ou no seu dispositivo móvel, através do navegador de internet (browser). A colocação de cookies ajuda o site a reconhecer o USUÁRIO numa próxima visita. Usamos o termo cookies nesta política para referir todos os arquivos que recolhem informações desta forma.</p>
        <p>3.3 Os cookies retêm apenas informação relacionada com as preferências do USUÁRIO. A qualquer momento o USUÁRIO pode, através do seu navegador de internet (browser) decidir ser notificado sobre a recepção de cookies, bem como bloquear a respectiva entrada no seu sistema.</p>
        <p>3.4 Ao desativar os cookies, partes do nosso SOFTWARE poderão não funcionar corretamente, afetando, parcial ou totalmente, a navegação do website.</p>
    </div>
    <div style="text-align: center">
    <a href="javascript:history.back()">Voltar</a>
        <br>
        <br>

    </div>

  



</div>



</div>

</div>

{% endblock conteudo %}

