{% extends "masks/base.html" %}

   {% block css %}

    {% load static %}

    <link rel="stylesheet" type="text/css" href="{% static 'masks/css/mascara.css' %}">

    {% endblock css %}

{% block conteudo %}

<div id="mycontainer">


<p> {{usuario}}</p>


<!-- Dá pra colocar espaços, mas sinal de maior e menor dá bug.-->
{% for variavel in variaveisusuario %}
    <label>{{ variavel.nome_da_variavel }}</label>
    <input name="variavel" type="text" placeholder="Nome da variável"/>
    <br>
{% endfor %}



</div>

{% endblock conteudo %}

