body {
  background: url(../images/logo.png) no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;

}

a:hover {
 color: #ffffff;
}

a {
font-size: 1.2rem;
color: #ffffff;

margin: 5px;
}

#botao_entrar {
    background-color: #898989;
}

body {
    text-align: center;
}

#form_login {
    margin-top: 40vh;

}

#cadastro_div {
text-align: left;
 margin-right: 23%;
        margin-left: 23%;


 }

label {
    margin-bottom: .2rem;
}

#usuario_login {
    background-color: #dedede;
}

#senha_login {
    background-color: #dedede;

}

.cadastro_input {
    width: 100%;
    margin-bottom: .8rem;
}

#botao_cadastro_div {
    text-align: center;
}

.modal-header {
    text-align: center;
}

#novo_cadastro_title {
    color: #0366d6;
    margin-bottom: .9rem;
}

#botao_cadastrar {
      background-color: #0366d6;
      color: white;
      border-radius: .5rem;
      margin-top: .7rem;


}

.mensagem_erro {
    color: red;
    margin-top: 0rem;
}