

.label_laranja {
    font-weight: bold;
}

.btn-secondary  {
    background-color: #c96100;
      color: #ffffff;
}

.btn-secondary:hover {
     background-color: #c96100;
      color: #ffffff;
}


.btn-primary {
      background-color: #000000;
      color: #ffffff;
}

.btn-primary:hover {
      background-color: #000000;
      color: #ffffff;
}




#diagnosticos_div {

    height: 100vh;
  overflow: auto;
  background-color: white;
  margin-top: 20px;


}

#username {
    color: white;
    font-size: 1.5rem;
    margin-right: 0.3rem;
    margin-top: 80px;
}



#botaonovamascara {
    width: 100%;

}


.navbar {
  min-height: 120px;
  background: #000000;

}

#botaonovamascara {
      background-color: #000000;
      color: #ffffff;

}

#mascara_div {
      height: auto;
  overflow: auto;
  margin-top: 1rem;
  margin-bottom: 1rem;

}


#botaoAdicionarAlteracao {
    width: 100%;

}

#procurarFrases {
    width: 100%;

}

#procurarFrasesPublicas {
    width: 100%;

}

.botao_diagnostico {
    margin-top: .2rem;
    margin-bottom: .2rem;
    margin-left: 0;
    padding-left: 0;
    height: auto;
    text-align: left;
    color: #c96100;
    width: 100%;
    background-color: #ffffff;
    border-top: 0px;
    border-left: 0px;
    border-right: 0px;
    border-bottom: 0px;
    word-wrap: break-word;



}



.botao_diagnostico_mais {
    margin-top: .2rem;
    margin-bottom: .2rem;
    height: auto;
    text-align: left;
    color: #c96100;
    width: 100%;
    background-color: #ffffff;
    border-top: 0px;
    border-left: 0px;
    border-right: 0px;
    border-bottom: 0px;



}
#botaoAdicionarAlteracao {


      background-color: #c96100;
      color: #ffffff;
      margin-bottom: 5px;




}



#navbarSupportedContent a:hover {
    color: #c96100;
    text-decoration: none;

}


#navbarSupportedContent a {
    color: #ffffff;
    font-size: 1.5rem;
    margin-top: 80px;
    padding-top: 20px;
    padding-bottom: 20px;


}

#text_area_orgao {
    padding:0px;
    width:100%;
    margin: 0 0 0 0;
}

#popular_variaveis {
    position: -webkit-sticky; /* Safari */
    position: sticky;
    top: 10px;
    float: right;
    margin-right: 10px;
    background-color: #c96100;
      color: #ffffff;

}

#popular_variaveis:focus {
    background-color: #c96100;
      color: #ffffff;
}

.botao_calculadora {
color: #ffffff;
margin: .1rem;
border-radius: .1rem;
      background-color: #c96100;
    position: relative;
    width: 100%;
    height: 0;
    padding-bottom: 80%;
                    font-size: 1.5rem;


}

.botao_calculadora_nominal {
color: #ffffff;
border-radius: 1rem;
    margin: .1rem;

      background-color: #c96100;


    position: relative;
            font-size: 1.5rem;
            padding:.1rem;

    width: 100%;
}

.botao_calculadora_duplo {
color: #ffffff;
border-radius: .1rem;
    margin: .1rem;
      background-color: #c96100;

        width: 100%;
    height: 0;
    padding-bottom: 40%;
                font-size: 1.5rem;

}

.botao_calculadora_triplo {
border-radius: .1rem;
margin: .1rem;

color: #c96100;
    background: #000000;
        width: 100%;
    height: 0;
    padding-bottom: 20%;
    padding-top:5%;

                font-size: 1.5rem;

}

#teclado {
    margin-right: 20%;
        margin-left: 20%;
        margin-top:10px;

}

.modal-body {
    padding: 0px;
}

#template_name_variaveis {
        text-align: center;
        margin-left: auto;
        margin-right: auto;

}

#variaveis_inativas {
 margin-top: 10px;
 margin-right: 5%;
        margin-left: 5%;
}

#teclado_nominal {
    margin-right: 20%;
        margin-left: 20%;
                margin-top:10px;
                padding: 10px;
                border-radius: .5rem;
                background-color: #000000;
                max-height: 60vh;
                overflow-y: auto;



}

#body_teclado {
    max-height: 70vh;
}

#containermascaras {
    padding-top: 1rem;
}

#botaonovamascara {
    margin-top:10px;
        margin-bottom:10px;

}

.botao_configuracao {
      border-radius: .5rem;
      background-color: #000000;
      color: white;

}

.botao_configuracao2 {

        margin-bottom: .5rem;
        padding-left: 4px;
        padding-right: 4px;
        padding-bottom: 0;
        padding-top: 0;
        margin-left: .3rem;

      border-radius: .5rem;
      background-color: #000000;
      color: white;
      font-size: .8rem;

}


.botao_configuracao3 {

        margin-top: .5rem;
        margin-bottom: .5rem;

        margin-right: .5rem;
        margin-left: 0;


      border-radius: .5rem;
      background-color: #c96100;
      color: white;
      font-size: .8rem;

}

.input_curto {
    width: 100%


}

#link_voltar {
    color: #c96100;
    margin-right: 20px;
}

#link_voltar:hover {
    color: #c96100;
    margin-right: 20px;

}

.link_voltar {
    color: #c96100;
        margin-right: 20px;

}

.link_voltar:hover {
    color: #c96100;
        margin-right: 20px;


}

#link_topico_anormal {
    color: #c96100;
}

#link_topico_anormal:hover {
    color: #c96100;
    text-decoration: none;

}

.paragrafo_mascara:first-letter {
        text-transform: capitalize;
        width: 100%;


}

#indicacoes:first-letter {
        text-transform: capitalize;

}

.fieldset_nova_mascara {
    margin:0;
    padding:5px;
    border:solid;
    border-width: 1px;
}

.legend_nova_mascara {
    width:auto;
    font-size: 1.2rem;
    font-color: gray;
}

#logo_navbar {
    display: block;
  max-width:60px;
  width: auto;
  height: auto;
  position: absolute;
    left: 50%;
    margin-left: -30px !important;  /* 50% of your logo width */
    display: block;
    top: 0px;
    margin-top: 30px;
    margin-botton: 30px;
}

.navbar-toggler-icon {
    color: white;
}

.navbar .navbar-toggler-icon {
  background-image: url("data:image/svg+xml;charset=utf8,%3Csvg viewBox='0 0 32 32' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath stroke='rgba(250,250,250, 1)' stroke-width='2' stroke-linecap='round' stroke-miterlimit='10' d='M4 8h24M4 16h24M4 24h24'/%3E%3C/svg%3E");

}

#form_username {
    margin-top: 80px;
    margin-left: 70px;
    margin-right: 0px;

}



@media screen and (max-width: 576px) {
     #navbarSupportedContent a {
     margin: 0px;
     padding: 5px;
  }

  #navbarSupportedContent  {
     margin-top: 40px;
  }

  #username {
    margin: 0px;
     padding: 5px;

  }

  #form_username {
    margin: 0px;
     padding: 5px;
     color: gray;

}

}

#myfooter {

   text-align: center;
    background-color: #000000;
    color: #ffffff;
    padding: .5rem;
    height: 2.5rem;

}

.fixedfooter {
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
}

.normalfooter {
text-align: center;
    background-color: #000000;
    color: #ffffff;
    padding: .5rem;
    height: 2.5rem;
}

#myfooter2 {
    position: fixed;
    bottom: 0;
    text-align: center;
    background-color: #000000;
    color: #ffffff;
    padding: .5rem;
    height: 2.5rem;
    width: 66%;
}

.btn-link {
    color: #0366d6;
    width: 100%;
}



.link_mascara:hover {
        color: #000000;
        text-decoration: none;

}

#mycontainer {
    margin: .8rem;
    margin-left: 0px;
}



.card-body {
    padding: 0;
}

.link_mascara {
        color: #000000;

    padding: 2rem;
}

#container-fluid-div {
      border-bottom:solid;
    border-width: 1px;
    border-color: gray;

}

.card-header {
    background-color: #c96100;
    color: #000000;

}

.btn-link {
    color: #ffffff;

}

.btn-link:hover {
    color: #ffffff;
    text-decoration: none;
    outline: none;
}


.btn-link:focus {
    text-decoration: none;
        color: #ffffff;
        outline: none;
   box-shadow: none;


}

.header_box_mascaras {
    width: 100%;
    background-color: #000000;
     color: #ffffff;
     text-align: center;
     padding: .3rem;

}

.box_mascaras {
border:solid;
    border-width: 1px;
    margin-bottom: 1rem;



}

.link_mascara_box {
        color: #000000;

        font-size: 1.2rem;
        line-height: 180%;






}

.link_mascara_box:hover {
    color: #c96100;
}

#modal_alteracoes {
    max-width: 80%;


}



#modal_variaveis {
max-width: 60vh;

}

#nome_modal {
    width: 100%;
}



#adicionar_entrada_orgao {
    color: #c96100;
}

#frases_comunidade {
height: auto;
  overflow: auto;
  margin-top: 10px;

}

#coluna_esquerda {

}

.botao_remover {
    border-radius: .5rem;
      background-color: #000000;
      color: white;
      margin-bottom:5px
}

.botao_novo_topico {
    border-radius: .5rem;
      color: white;
      margin-bottom:5px;
      background-color: #c96100;
      margin: .5rem;
}

#mais_utilizadas {



}

.botao_prioridade {
    width: 4rem;
    height: auto;
    margin-top: .5rem;

}

#botoezinhos_div {
   width:100%;
   background: white;
   height:50%;
   overflow-y: auto;
   margin-top: 6px;
      margin-bottom: 8px;
}

#botoezinhos_div button {
   background: #dfcfc0;
border: none;
font-weight: bold;
border-radius: 8px;
margin-right: 5px;
font-size: .8rem;
width: 5.5rem;
padding: 0;
margin-bottom: 3px;
margin-right: 0px;
line-height: 1.1rem;
  height: 2.3rem;
  vertical-align: middle;
   overflow: hidden;



}

#botoezinhos_div button.active {
   background: red;

}


#botoezinhos_div button:hover {
   background: lightgray;
border: none;


}

ul {
    padding-bottom: 0;
    margin-bottom: 0;
}


.mercadopago-button {
    width: 30%;
}