#diagnosticos_div {

    height: 100vh;
  overflow: auto;
  background-color: grey;

}


#botaoAdicionarAlteracao {
    width: 100%;

}

#procurarFrases {
    width: 100%;

}

.botao_diagnostico {
    color: red;
    width: 100%;

}


