#diagnosticos_div {

    height: 90vh;
  overflow: auto;
  background-color: grey;

}

#mycontainer {
    margin-top:10vh;
}

#mascara_div {
      height: 90vh;
  overflow: auto;
}


#botaoAdicionarAlteracao {
    width: 100%;

}

#procurarFrases {
    width: 100%;

}

.botao_diagnostico {
    color: red;
    width: 100%;

}

.navbar {
  height: 10vh;

}


